<ion-content>

    <div class="notification">
        <div class="header">
            <i class="fa fa-angle-left back_icon_white" (click)="goBack()"></i>
            <div class="header_sec">
                <div class="header_text">
                    <div>
                        <img src="assets/images/n_icon.png">
                        <div class="text">
                            <h3>Notification</h3>
                            <p>Important Reminders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notification_content" *ngIf="allNotifications.length">
            <ion-list lines="none">
                <ion-item-sliding *ngFor="let notification of allNotifications" >
                    <ion-item class="card" routerLink="/home/plan-option/{{notification.inquiry_id}}">
                        <div class="left-part w-100">
                            <div class="text-content w-100">
                                <!-- <span>{{notification.date | date:'h:mm a'}}</span> -->
                                <div class="main-text">
                                    <p>{{notification.title}}</p>
                                    <small>{{notification.message}}</small>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item-options>
                        <button color="text-danger" class="btn" (click)="removeItem(notification)" [disabled]="isDisable">
                             Delete
                        </button>
                    </ion-item-options>
                </ion-item-sliding>

            </ion-list>


            <!-- <ion-list>
                <ion-item-sliding class="card" *ngFor="let notification of allNotifications"
                    routerLink="/home/plan-option/{{notification.inquiry_id}}">
                    <ion-item>
                        <div class="left-part float-left">
                            <div class="text-content">
                                <div class="main-text">
                                    <p>{{notification.title}}</p>
                                    <small>{{notification.message}}</small>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item-options>
                        <button color="danger" (click)="removeItem(item)">
                            <ion-icon trash></ion-icon> Delete
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list> -->
        </div>
        <div *ngIf="loading">
            <div id="loader-wrapper">
                <div class="heartbeatloader">
                    <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
                </div>
            </div>
        </div>
        <div class="loader" *ngIf="!loading && !allNotifications.length">
            <div class="message-icon">
                <img src="assets/images/message.svg">
            </div>
            <div class="notification-text">
                <span class="text-center no-request">No Notification</span>
            </div>
        </div>
    </div>
</ion-content>