<ion-header>
  <app-header [cname]="'Destination Finder'"></app-header>
</ion-header>
<ion-content>
  <div class="all_content">
    <div class="benefits_content" *ngIf="destinationReq.length">
      <div *ngFor ="let destination of destinationReq">
        <div class="row country_name" (click)="getDetails(destination)">
          <div class="col-5">
            <p>{{destination.name}}</p>
          </div>
          <div class="col-5">
            <p>Answered</p>
            <!-- <p *ngIf="!travelres.safe_to_response" class="text-danger">Pending</p> -->
          </div>
          <div class="col-2">
            <img src="assets/images/location.png">
          </div>
        </div>
      </div>
    </div>
    <div class="add_button">
      <a href="javascript:void(0);" routerLink='/home/occian-vacation'>
        <img src="assets/images/plus.png">
      </a>
    </div>
  </div>

  <div class="success_alert_box1" style="display: none;">
    <div class="alert_box_content">
        <div class="alert_box_text">
            <div class="alert_box_image">
                <img src="assets/images/safetravel.png" alt="image icon">
            </div>
            <p>
                We are working,<br>
                will revert soon !!
            </p>
        </div>
    </div>
</div>

<div *ngIf="loading">
  <div id="loader-wrapper">
      <div class="heartbeatloader">
          <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
      </div>
  </div>
</div>
<div *ngIf="!loading && !destinationReq.length" class="no_folder">
  <span class="text-white text-center no-request">No Inquiry</span>
</div>
</ion-content>