ion-refresher-content {
    background-color: #0575E6;
    --color: white !important;
}
.doc_details {
    cursor       : pointer;
    margin-bottom: 35px;

    @media(max-height: 812px) {
        margin-bottom: 22px;
    }

    @media(max-height: 600px) {
        margin-bottom: 16px;
    }


    .doc_img {
        padding      : 20px 5px;
        border-radius: 10px;

        @media(max-height: 750px) {
            padding: 15px 5px;
        }

        ion-img {
            height: 65px;
        }

        p {
            text-align : center;
            font-weight: 600;
            margin-top : 20px;
            line-height: 21px;
            font-size  : 19px;

            @media(max-height: 750px) {
             margin-top: 12px;
            }
        }
    }
}