<ion-header>
  <ion-toolbar>
    <div class="user_icon text-right pr-3 text-white">
      <i class="fa fa-user" aria-hidden="true"></i>   
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="explore_deals">
      <p class="text-center text-white explore_text">Explore Your Deals</p>
      <div class="card">
        <div class="row">
          <div class="col-6">
            <div class="deal_details">
              <ion-img src="../../assets/images/airplane.png"></ion-img>
              <p class="text-center">Flight</p>
            </div>
          </div>
          <div class="col-6">
            <div class="deal_details">
              <ion-img src="../../assets/images/airplane.png"></ion-img>
              <p class="text-center">Hotels</p>
            </div>
          </div>
          <div class="col-6 mt-4">
            <div class="deal_details">
              <ion-img src="../../assets/images/airplane.png"></ion-img>
              <p class="text-center">holidays</p>
            </div>
          </div>
          <div class="col-6 mt-4">
            <div class="deal_details">
              <ion-img src="../../assets/images/airplane.png"></ion-img>
              <p class="text-center">bus</p>
            </div>
          </div>
          <div class="col-6 mt-4">
            <div class="deal_details">
              <ion-img src="../../assets/images/airplane.png"></ion-img>
              <p class="text-center">cabs</p>
            </div>
          </div>
          <div class="col-6 mt-4">
            <div class="deal_details">
              <ion-img src="../../assets/images/airplane.png"></ion-img>
              <p class="text-center">train</p>
            </div>
          </div>
        </div>
      </div>
    </div>
 </ion-content>