<ion-header *ngIf="allPlans.length">
    <app-header [cname]="allPlans[0].inquiry_name"></app-header>
</ion-header>
<ion-header *ngIf="!allPlans.length">
    <app-header [cname]="'Plans'"></app-header>
</ion-header>
<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class="all_content" *ngIf="allPlans.length">
        <form [formGroup]="sendPlanForm">
            <div *ngFor="let plan of allPlans; let i= index">
                <div class="card w-100">
                    <div>
                        <div class="select_plan float-left">
                            <input type="radio" class="mr-2" id="plan{{i}}" formControlName="plan_id"
                                value="{{plan.plan_id}}">
                            <label for="plan{{i}}" [innerHtml]="plan.plan_name"></label>
                        </div>
                    </div>
                    <div class="plan_img float-right" routerLink="/home/plan-option-detail/{{plan.plan_id}}">
                        <i class="fas fa-info"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="submitted && f.plan_id.errors" class="invalid-feedback">
                <div *ngIf="f.plan_id.errors.required" style="font-weight: 600;">Select Plan</div>
            </div>
            <div *ngIf="!allPlans.length" class="loader">
                <ion-img src="assets/images/loader.gif"></ion-img>
            </div>
            <div class="select_for_continue" *ngIf="planSlected != 1">
                <p class="text-center text-white">Choose one of the following to continue
                </p>
                <button type="submit" class="text-center text-white btn" [disabled]="isDisable">
                    <span (click)="sendPlan(sendPlanForm.value,0)">Book with us</span>
                    <a class="toggle-section collapsed collapsed" data-toggle="collapse" data-target="#with"
                        aria-expanded="false" aria-controls="with"> <i class="fa float-right"
                            aria-hidden="true"></i></a></button>
                <div class="collapse multi-collapse mb-2 mt-2" id="with">
                    <div class="card card-body">
                        This variation of booking states all the bookings will be managed by our own assets and costs
                        and the Information Pack sum will be deducted from your final payment of your tour.
                    </div>
                </div>
                <button type="submit" class="text-center text-white btn" [disabled]="isDisable">
                    <span (click)="sendPlan(sendPlanForm.value,1)">Just Guide and Manage</span>
                    <a class="toggle-section collapsed collapsed" data-toggle="collapse" data-target="#third-party"
                        aria-expanded="false" aria-controls="third-party"> <i class="fa float-right"
                            aria-hidden="true"></i></a>
                </button>
                <div class="collapse multi-collapse mb-2 mt-2" id="third-party">
                    <div class="card card-body">
                        This variation permits you to utilize outsider booking platforms to book your basics and all the
                        bookings will be overseen and related by us and for those we will charge 10% of all your
                        accommodation & transfers costs.
                    </div>
                </div>
                <button type="submit" class="text-center text-white btn" [disabled]="isDisable">
                    <span (click)="DoThingsYourWay()">That Would Be All!</span>
                    <a class="toggle-section collapsed collapsed" data-toggle="collapse" data-target="#with-out"
                        aria-expanded="false" aria-controls="with-out"> <i class="fa float-right"
                            aria-hidden="true"></i></a></button>
                <div class="collapse multi-collapse mb-2 mt-2" id="with-out">
                    <div class="card card-body">
                        This variant finishes all our transactions for the moment until a new curiosity pops in you to
                        explore.
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="!allPlans.length && !loading">
        <div style="margin-top: 40%;">
            <div class="message-icon">
                <img src="assets/images/safetravel.png">
            </div>
            <div class="notification-text">
                <span class="text-center no-request text-white"> We are working on it,<br>
                    will revert soon !!</span>
            </div>
        </div>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>