<ion-header *ngIf="planDetail">
    <app-header [cname]="planDetail.inquiry_name"></app-header>
</ion-header>

<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class="plan_option_content" *ngIf="planDetail">
        <div class="card plan_option_heading plan-detail-content w-100 ">
            <h6 [innerHtml]="planDetail.plan_name"></h6>
            <h3 class="text-center" [innerHtml]="planDetail.inquiry_name + ' tour for ' + planDetail.duration +' Days'">
            </h3>
            <div class="plan_images" *ngIf="planDetail.images.length">
                <div class="plan_images_slide" *ngFor="let img of planDetail.images">
                    <img [src]="img.image_url" onError="src = 'assets/images/placeholder.png'">
                </div>
            </div>
            <div class="plans_details">
                <span class="font-weight-bold ml-2">Description :</span>
                <p [innerHtml]="planDetail.plan_description"></p>
                <span class="font-weight-bold ml-2"> Included :</span>
                <p [innerHtml]="planDetail.inclueded"></p>
                <span class="font-weight-bold ml-2">Excluded :</span>
                <p [innerHtml]="planDetail.excluded"></p>
                <span class="font-weight-bold ml-2">Estimate :</span>
                <p [innerHtml]="planDetail.estimate"></p>
            </div>
        </div>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>