<ion-header>
    <app-header [cname]="'General Details'"></app-header>
</ion-header>
<ion-content>
    <div class="all_content">
        <form [formGroup]='generalDetailsForm'>
            <div class="services_detail">
                <div class="general_details">
                    <div class="general_details_header">
                        <p>General Details</p>
                    </div>
                    <div class="general_details_body">
                        <div>
                            <ion-item>
                                <ion-label position="floating">Name in Passport</ion-label>
                                <ion-input type="text" formControlName="name_in_passport"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.name_in_passport.errors" class="invalid-feedback">
                                <div *ngIf="f.name_in_passport.errors.required">Name is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Passport Number</ion-label>
                                <ion-input type="text" formControlName="pssport_number"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.pssport_number.errors" class="invalid-feedback">
                                <div *ngIf="f.pssport_number.errors.required">Passport Number is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Date of Birth</ion-label>
                                <ion-datetime formControlName="dob"></ion-datetime>
                            </ion-item>
                            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                <div *ngIf="f.dob.errors.required">Birthdate is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Place of Birth</ion-label>
                                <ion-input type="text" formControlName="place_of_birth"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.place_of_birth.errors" class="invalid-feedback">
                                <div *ngIf="f.place_of_birth.errors.required">Place Of Birth is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Address in Passport</ion-label>
                                <ion-input type="text" formControlName="address_in_passport"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.address_in_passport.errors" class="invalid-feedback">
                                <div *ngIf="f.address_in_passport.errors.required">Passport Address is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Duration of Travel</ion-label>
                                <ion-input type="text" formControlName="duration"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                                <div *ngIf="f.duration.errors.required">Duration Of Travel is required</div>
                            </div>
                        </div>
                        <div class="general-details-form">
                            <ion-item>
                                <ion-label position="floating" style="margin-bottom: 18px;">Destination Country</ion-label>
                                <select id="myselection" class="form-control w-100 " formControlName="desination_country"
                                    >
                                    <option value="Not Fixed"> Not Fixed
                                    </option>
                                    <option [value]="country.name" *ngFor="let country of counries"> {{country.name}}
                                    </option>
                                </select>
                            </ion-item>
                            <div *ngIf="submitted && f.desination_country.errors" class="invalid-feedback">
                                <div *ngIf="f.desination_country.errors.required">Country is required</div>
                            </div>
                        </div>
                        <div *ngIf="generalDetailsForm.value.desination_country != 'Not Fixed' ">
                            <ion-item>
                                <ion-label position="floating" >Destination Place</ion-label>
                                <ion-input type="text" formControlName="place_name"></ion-input>
                            </ion-item>
                            <!-- <div *ngIf="submitted && f.desination_country.errors" class="invalid-feedback">
                              <div *ngIf="f.desination_country.errors.required">Country is required</div>
                          </div> -->
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Passport Valid Until </ion-label>
                                <ion-datetime formControlName="passport_valid_date" min="{{curruntDate}}" max="{{nextYear}}">
                                </ion-datetime>
                            </ion-item>
                            <div *ngIf="submitted && f.passport_valid_date.errors" class="invalid-feedback">
                                <div *ngIf="f.passport_valid_date.errors.required">passport Valid Date is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Intended date of Departure</ion-label>
                                <ion-datetime formControlName="departure_date" min={{curruntDate}}
                                    max="{{generalDetailsForm.value.passport_valid_date? generalDetailsForm.value.passport_valid_date: nextYear}}">
                                </ion-datetime>
                            </ion-item>
                            <div *ngIf="submitted && f.departure_date.errors" class="invalid-feedback">
                                <div *ngIf="f.departure_date.errors.required">Departure Date is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Intended date of Arrival</ion-label>
                                <ion-datetime formControlName="intende_date"
                                    min="{{generalDetailsForm.value.departure_date? generalDetailsForm.value.departure_date: curruntDate}}"
                                    max="{{generalDetailsForm.value.passport_valid_date? generalDetailsForm.value.passport_valid_date: nextYear}}">
                                </ion-datetime>
                            </ion-item>
                            <div *ngIf="submitted && f.intende_date.errors" class="invalid-feedback">
                                <div *ngIf="f.intende_date.errors.required">Intended Date is required</div>
                            </div>
                        </div>

                        <p>Date and Duration Status</p>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="date1" value="Flexible"
                                    formControlName="duration_status">
                                <label for="date1">Flexible</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="date2" value="Fixed"
                                    formControlName="duration_status">
                                <label for="date2">Fixed</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next_btn">
                    <button type="submit" (click)="nextForm(generalDetailsForm.value)" [disabled]="isDisable"><span
                            *ngIf="formUrl.length">Next</span><span *ngIf="!formUrl.length">Submit</span><i
                            class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="../../assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>