<ion-header>
    <app-header [cname]="'General Details'"></app-header>
</ion-header>
<ion-content>
    <div class="all_content">
        <form [formGroup]='generalDetailsForm'>
            <div class="services_detail">
                <div class="general_details">
                    <div class="general_details_header">
                        <p>General Details</p>
                    </div>
                    <div class="general_details_body">
                        <div>
                            <ion-item>
                                <ion-label position="floating">Name in Passport</ion-label>
                                <ion-input type="text" formControlName="name_in_passport"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.name_in_passport.errors" class="invalid-feedback">
                                <div *ngIf="f.name_in_passport.errors.required">Name is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Passport Number</ion-label>
                                <ion-input type="text" formControlName="pssport_number"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.pssport_number.errors" class="invalid-feedback">
                                <div *ngIf="f.pssport_number.errors.required">Passport Number is required</div>
                            </div>
                        </div>
                       
                        <div>
                            <ion-item>
                                <ion-label position="floating">Duration of Travel</ion-label>
                                <ion-input type="text" formControlName="duration" placeholder="1 month and 1 day"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                                <div *ngIf="f.duration.errors.required">Duration Of Travel is required</div>
                            </div>
                        </div>
                        <div class="general-details-form">
                            <ion-item>
                                <ion-label position="floating" style="margin-bottom: 18px;">Destination Country
                                </ion-label>
                                <select id="myselection" class="form-control w-100 "
                                    formControlName="desination_country">
                                    <option value="Not Fixed"> Not Fixed
                                    </option>
                                    <option [value]="country.name" *ngFor="let country of counries"> {{country.name}}
                                    </option>
                                </select>
                            </ion-item>
                            <div *ngIf="submitted && f.desination_country.errors" class="invalid-feedback">
                                <div *ngIf="f.desination_country.errors.required">Country is required</div>
                            </div>
                        </div>
                        <div *ngIf="generalDetailsForm.value.desination_country != 'Not Fixed' ">
                            <ion-item>
                                <ion-label position="floating">Destination Place</ion-label>
                                <ion-input type="text" formControlName="place_name"></ion-input>
                            </ion-item>

                        </div>
                       
                        <div>
                            <ion-item>
                                <ion-label position="floating">Intended date of Departure</ion-label>
                                <ion-datetime formControlName="departure_date" min={{curruntDate}} max={{nextYear}}>
                                </ion-datetime>
                            </ion-item>
                            <div *ngIf="submitted && f.departure_date.errors" class="invalid-feedback">
                                <div *ngIf="f.departure_date.errors.required">Departure Date is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Intended date of Arrival</ion-label>
                                <ion-datetime formControlName="intende_date"
                                    min="{{generalDetailsForm.value.departure_date? generalDetailsForm.value.departure_date: curruntDate}}"
                                    max={{nextYear}}>
                                </ion-datetime>
                            </ion-item>
                            <div *ngIf="submitted && f.intende_date.errors" class="invalid-feedback">
                                <div *ngIf="f.intende_date.errors.required">Intended Date is required</div>
                            </div>
                        </div>
                        <!-- <div>
                            <ion-item>
                                <ion-label position="floating">Number Of People</ion-label>
                              <ion-input type="number" formControlName="number_of_people"></ion-input>
                            </ion-item>
                        </div> -->

                        <p class="mt-1">Date and Duration Status</p>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="date1" value="Flexible"
                                    formControlName="duration_status">
                                <label for="date1">Flexible</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="date2" value="Fixed"
                                    formControlName="duration_status">
                                <label for="date2">Fixed</label>
                            </div>
                        </div>
                        <!-- <p>Group Travel (If more than 10)</p>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="travel1" value="Yes" formControlName="group_travel"
                                    [(ngModel)]="groupTraveel">
                                <label for="travel1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="travel2" value="No" formControlName="group_travel"
                                    [(ngModel)]="groupTraveel">
                                <label for="travel2">No</label>
                            </div>
                        </div> -->
                    </div>

                </div>
                <div  class="mt-2">
                    <div class="general_details">
                        <div class="general_details_header">
                            <img src="assets/images/passanger.png">
                            <p>Passengers</p>
                        </div>
                        <div class="general_details_body" formGroupName="number_of_people">
                            <div class="passengers-details">
                                <div class="plist">Infants (2 Years)</div>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('infants')"></i>
                                        <span>
                                            <ion-input type="number" formControlName="infants"
                                                [(ngModel)]="infantsPassenger" min='0'></ion-input>
                                        </span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('infants')"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="passengers-details">
                                <div class="plist">Children (2 to 11 Years)</div>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('children')"></i>
                                        <span>
                                            <ion-input type="number" formControlName="children"
                                                [(ngModel)]="childrenPassenger" min='0'></ion-input>
                                        </span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('children')"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="passengers-details">
                                <div class="plist">Adults (11 to 65 Years)</div>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('adults')"></i>
                                        <span>
                                            <ion-input type="number" formControlName="adults"
                                                [(ngModel)]="adultsPassenger" min='0'></ion-input>
                                        </span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('adults')"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="passengers-details">
                                <div class="plist">Senior Citizens (Above 65 Years)</div>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('senior')"></i>
                                        <span>
                                            <ion-input type="number" formControlName="senior_citizens"
                                                [(ngModel)]="seniorPassenger" min='0'></ion-input>
                                        </span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('senior')"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-center pl-4">
                                <img src="assets/images/infants.png" style="height: 35px;">
                                <p>{{infantsPassenger}}</p>
                            </div>
                            <div class="col-3 text-center">
                                <img src="assets/images/children.svg" style="height: 46px;margin-top:-4px;">
                                <p style="margin-top: -7px;">{{childrenPassenger}}</p>
                            </div>
                            <div class="col-3 text-center">
                                <img src="assets/images/adults.png" style="height: 33px;margin-top: 4px;">
                                <p>{{adultsPassenger}}</p>
                            </div>
                            <div class="col-3 text-center">
                                <img src="assets/images/seniorcityzens.png" style="height: 33px;
                                margin-top: 2px;">
                                <p>{{seniorPassenger}}</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="next_btn">
                    <button type="submit" (click)="nextForm(generalDetailsForm.value)" [disabled]="isDisable"><span
                            *ngIf="formUrl.length">Next</span><span *ngIf="!formUrl.length">Submit</span><i
                            class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>