<ion-header *ngIf="tripDetail">
    <app-header [cname]="tripDetail.inquiry_name"></app-header>
</ion-header>

<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class="plan_option_content" *ngIf="tripDetail">
        <!-- <div class="card plan_option_heading  w-100 " routerLink='/home/all-plan/{{tripDetail.inquiry_id}}' *ngIf="tripDetail.plans.length"> -->
        <div class="card plan_option_heading  w-100 " routerLink='/home/plan-option-detail/{{tripDetail.plans[0].id}}' *ngIf="tripDetail.plans.length">
            <!-- <span class="float-left" [innerHTML]="tripDetail.plans[0].plan_name"></span> -->
            <span [innerHtml]="tripDetail.plans[0].plan_name"></span>
            <div class="calendar_img float-right">
                <!-- <ion-img src="../../assets/images/calendar.png"></ion-img> -->
                <ion-img src="assets/images/plane.png"></ion-img>
            </div>
        </div>
        <div class="document_request card w-100 mt-2" *ngIf="tripDetail.requested_docs.length">
            <div class="card_header">
                <ion-img src="assets/images/doc.png"></ion-img>
                <div class="float-right ">
                    <ion-img src="assets/images/archive.png" routerLink="/home/view-document-req/{{tripDetail.inquiry_id}}" style="outline: none;"></ion-img>
                </div>
                <span>Document Request</span>
            </div>
            <div class="card_body">
                <small>List of Required Documents</small>
                <ul>
                    <li *ngFor="let document of notApproveDoc">{{document}}</li>
                </ul>
            </div>
            <div class="card_footer w-100">
                <button type="submit" (click)="selectDocument()">
                    <i class="fas fa-cloud-upload-alt"></i>
                    Upload Documents
                </button>
            </div>
        </div>
        <div class="document_request card w-100 mt-3" *ngIf="tripDetail.payment.payment_request.length">
            <div class="card_header">
                <ion-img src="../../assets/images/money.png"></ion-img><span>Payment Request</span>
            </div>
            <div class="card_body w-100">
                <small>Payment for the Following</small>
                <ul class="">
                    <li *ngFor="let payment of tripDetail.payment.payment_request">{{payment.title}} - <span class="float-right">{{payment.payment_amount}} </span></li>
                    <!-- <li>Flights - <span class="float-right">25000 </span></li>
                    <li>Transfers - <span class="float-right"> 10000</span></li> -->
                </ul>
                <p class="total">Total:<span class="ml-4">₹ {{tripDetail.payment.total_amount}}</span></p>
            </div>
            <div class="card_footer w-100">
                <button type="submit" routerLink='/home/payment'>
                    <i class="fas fa-paper-plane"></i>
                    Proceed to pay
                </button>
            </div>
        </div>
        <div class="document_request card w-100 mt-2" *ngIf="tripDetail.is_passport == 1">
            <div class="card_header">
                <span>Passport Form</span>
            </div>
            <div class="card_body ml-2 mr-2 holds-the-iframe" >

                <iframe style="height:230px;cursor: pointer;" class="w-100" [src]='pathToPreview | safe:"resourceUrl"' frameborder="0">
                </iframe>

            </div>
            <div class="card_footer w-100">
                <button type="submit" (click)="selectDocument()">
                    <i class="fas fa-cloud-upload-alt"></i>
                    Upload Documents
                </button>
            </div>
        </div>
        <div *ngIf="!tripDetail.payment.length && !tripDetail.requested_docs.length && !tripDetail.plans.length && tripDetail.is_passport != 1 ">
            <span class="text-center text-white no-request">No Data</span>
        </div>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="../../assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="footer_sec">
            <div class="row">
                <div class="col-4">
                    <div class="footer_img" routerLink='/home/trip-planing/{{tripId}}'>
                        <ion-img src="assets/images/trip_time.png"></ion-img>
                        <p>Trip Timeline</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer_img" routerLink="/home/quotations/{{tripId}}">
                        <ion-img src="assets/images/quote.png"></ion-img>
                        <p>Quotations</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer_img" routerLink='/home/briefcase'>
                        <ion-img src="assets/images/3.png"></ion-img>
                        <p>Briefcase</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>