<ion-header>
    <app-header [cname]="details.frequent_flight"></app-header>
</ion-header>

<ion-content>
    <div class="all_content" *ngIf="details">
        <div class="card">
            <div class="card_header w-100">
                <p class="float-left">Details</p>
                <div class="edit_icon float-right" (click)="openModal()">
                    <i class="fas fa-edit" id="edit_passportt"></i>
                </div>
            </div>
            <div class="card_body text-center">

                <p class="mt-3"> Points : {{details.flight_points}} </p>
                <p class="mt-3">User name : {{details.flight_user}}</p>
                <p>Password : {{details.flight_password}}</p>
            </div>
        </div>
        <div class="last_update text-center">
            <p>Last Updated : {{details.updated_date | date}}</p>
        </div>
    </div>

    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>

    <!-- edit FFP Request modal start  -->
    <div class="modal_content_with_overlay" id="edit-passport-modal" style="display: none;">
        <div class="modal_body">
            <div class="modal_header">
                <p class="text-center">Edit</p>
            </div>
            <div class="modal_content">
                <form [formGroup]="editFfpReqForm">
                    <div>
                        <ion-item>
                            <ion-label position="floating">Airline name</ion-label>
                            <ion-input type="text" formControlName="flight_name" [(ngModel)]="details.frequent_flight">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.flight_name.errors" class="invalid-feedback">
                            <div *ngIf="f.flight_name.errors.required">Flight name is required</div>
                        </div>
                    </div>
                    <div>
                        <ion-item>
                            <ion-label position="floating">Airline Username </ion-label>
                            <ion-input type="text" formControlName="user_name" [(ngModel)]="details.flight_user">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                            <div *ngIf="f.user_name.errors.required">User name is required</div>
                        </div>
                    </div>
                    <div>
                        <ion-item>
                            <ion-label position="floating">Airline Password</ion-label>
                            <ion-input type="text" formControlName="password" [(ngModel)]="details.flight_password">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div>
                        <ion-item>
                            <ion-label position="floating">Points</ion-label>
                            <ion-input type="text" formControlName="points" [(ngModel)]="details.flight_points">
                            </ion-input>
                        </ion-item>
                    </div>
                    <div class="make_folder">
                        <button (click)="editFfpRequest(editFfpReqForm.value)" class="btn" [disabled]="isDisable">Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>