<ion-header>
    <app-header [cname]="folderName"></app-header>
</ion-header>


<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">                                                                                                                                                                                                                                                                                                                                               </ion-refresher> -->
    <div class="all_content">

        <div *ngIf="allImages.length">
            <app-folder-images [images]="allImages"></app-folder-images>
        </div>
        <div class="add_button" id="upload-pictures" (click)="openModal()">
            <a href="javascript:void(0);">
                <img src="assets/images/plus.png">
            </a>
        </div>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
    <div *ngIf="!loading && !allImages.length">
        <span class="text-white text-center no-request">Empty folder</span>
    </div>
    <!-- add pictures modal open here  -->
    <div class="modal_content_with_overlay" id="Add-Pictures" style="display: none;">
        <div class="modal_body">
            <div class="modal_header">
                <p class="text-center">Add Pictures</p>
            </div>
            <div class="modal_content">
                <div class="select_files">
                    <input type="file" class="form-control" #file (change)="selectFile($event)" style="display: none;"
                        multiple>
                    <label class="text-center" (click)="file.click()">
                        <i class="far fa-copy"></i>
                        Select from Files
                    </label>
                </div>
                <span class="text-danger" *ngIf="message">{{message}}</span>
                <div *ngIf="urls.length">
                    <div class="row">
                        <div class="col-4 selected_image" *ngFor="let img of urls;let i =index">
                            <ion-img [src]="img.url || 'assets/images/placeholder.png'" *ngIf="img.type == 'image'" (ionError)="onErrorImage(i)"></ion-img>
                            <ion-img src="assets/images/pdf.png" *ngIf="img.type == 'pdf'" ></ion-img>
                            <ion-img src="assets/images/xls.png" *ngIf="img.type == 'xlsx' || img.type == 'xls'"></ion-img>
                            <ion-img src="assets/images/doc1.png" *ngIf="img.type == 'doc' || img.type == 'docx' || img.type == 'odt'"></ion-img>
                            <ion-img *ngIf="img.type !='image' && img.type != 'pdf' && img.type != 'xlsx' && img.type != 'xls' && img.type != 'doc'&& img.type != 'docx'&& img.type != 'odt'" src="assets/images/docs2.png" ></ion-img>
                            <p *ngIf="img.type != 'image'">{{img.imageName}}</p>
                        </div>
                    </div>
                </div>
                <div class="make_folder">
                    <button type="submit" class="btn" (click)="uploadImage()" [disabled]="isDisable"><i
                            class="fas fa-plus"></i>Add Files</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>