<ion-content>
    <div class="trip_content">
        <div class="header_sec" [style.background-image]="tripImage ?'url('+tripImage+')': 'url(../../../assets/images/header.png)'">
            <i class="fa fa-angle-left back_icon_white" (click)="goBack()"></i>
            <div class="header_text">
                <h3>The Trip Planing</h3>
                <p>Daywise Summary</p>
                <ion-buttons slot="start">
                    <ion-back-button></ion-back-button>
                </ion-buttons>
            </div>
        </div>
        <div id="content" *ngIf="tripTimeline.length">
            <ul class="timeline">
                <li class="event" *ngFor="let timeline of tripTimeline;let i = index" data-id="Day {{i + 1}}" [ngClass]="{'event1': timeline.itinerary_date < curruntDate}">
                    <div class="custom_card" routerLink="/home/trip-planing-detail/{{tripId}}/{{timeline.itinerary_day}} " [ngClass]="{ 'card1': curruntDate == timeline.itinerary_date } ">
                        <div class="card_header w-100 d-inline-block ">
                            <h3 class="float-left ">{{timeline.itinerary_title}}</h3>
                            <p class="float-right "><img src="../../assets/images/ca.png ">{{timeline.itinerary_date |date}}
                            </p>
                        </div>
                        <div class="card_body ">
                            <p class="mt-1">{{timeline.itinerary_content}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="loading">
            <div id="loader-wrapper">
                <div class="heartbeatloader">
                    <ion-img class="svgdraw" src="../../assets/images/loader.gif"></ion-img>
                </div>
            </div>
        </div>
        <div *ngIf="!loading && !tripTimeline.length">
            <span>No timeleine</span>
        </div>
    </div>
</ion-content>