<ion-content fullscreen>
    <div class="img-preview" *ngIf="imagePath">
        <img src="{{imagePath}}" *ngIf="fileType == 'image'" onError="src = 'assets/images/placeholder.png'" />
        <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
            class="videoPlayer" *ngIf="fileType == 'video'">
            <source src="{{imagePath}}" type="video/mp4" />
        </video>
        <div *ngIf="fileType == 'file'">
            <img src="assets/images/no-preview.jpg">
        </div>
        <div (click)="uploadImage()" class="send_button">
            <ion-icon ios="ios-send" md="md-send" [color]="white"></ion-icon>
        </div>
    </div>

    <div class="error_alert_box2" style="display: none;">
        <div class="alert_box_content">
            <div class="alert_box_text">
                <h4>Oopps !!</h4>
                <div>
                    <span>A BOO-BOO HAPPENS</span>
                    <p> something went wrong</p>
                </div>
            </div>
            <div class="alert_box_image">
                <img src="assets/images/cross.png" alt="image icon">
            </div>
        </div>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>


</ion-content>