<ion-content fullscreen>
    <div class="img-preview" *ngIf="imagePath">
        <img src="{{imagePath}}" *ngIf="fileType == 'image'" />
        <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer" *ngIf="fileType == 'video'">
            <source src="{{imagePath}}" type="video/mp4" />
        </video>
        <div *ngIf="fileType == 'file'">
            <img src="assets/images/no-preview.jpg">
            <!-- {{viewDocument()}} -->
            <!-- <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(imagePath)" frameborder="0">
            </iframe> -->
            <!-- <iframe src="{{imagePath}}" width="100%" height="500px"> </iframe> -->
        </div>
        <div (click)="uploadImage()" class="send_button">
            <ion-icon ios="ios-send" md="md-send" [color]="white"></ion-icon>
        </div>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>