ion-content {
    --background: black;
}

ion-content::after {
    display: none;
}

.img-preview {
    position: absolute;
    top: 30%;
    width: 100%;
    img,
    video {
        width: 100%;
        height: 280px;
    }
}

.send_button {
    border-radius: 50%;
    background-color: #3c75e6;
    position: fixed;
    bottom: 40px;
    right: 14px;
    height: 48px;
    width: 48px;
    z-index: 111;
    cursor: pointer;
    text-align: center;
    line-height: 57px;
    color: white;
    font-size: 25px;
    // ion-icon {
    //     margin-left: 7px;
    // }
}