<ion-header>
  <app-header [cname]="'Destination Finder'"></app-header>
</ion-header>
<ion-content>
  <div class="all_content destination-content p-0">
    <div>

      <div class="tab-list">

        <ul class="nav nav-tabs card-header-tabs demo-class" id="bologna-list" role="tablist">
          <li class="nav-item ">
            <a class="nav-link active" href="#occasion" role="tab" aria-controls="occasion"
              aria-selected="true">Occasion</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#atmospere" role="tab" aria-controls="atmospere"
              aria-selected="false">Atmosphere</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#climate" role="tab" aria-controls="climate" aria-selected="false">Climate</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#terrain" role="tab" aria-controls="terrain" aria-selected="false">Terrain</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#interests" role="tab" aria-controls="interests"
              aria-selected="false">Interests</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link map-tab" href="#map" role="tab" aria-controls="map" aria-selected="false">Map</a>
          </li>
        </ul>

        <div class="tab-content">
          <!-- Occian Tab -->
          <div class="tab-pane active" id="occasion" role="tabpanel">
            <div class="center">
              <div *ngFor="let img of occasionOption ;let i =index" class="center-slide">
                <div class="card">
                  <div class="content p-2">
                    <p>{{img.name}}</p>
                    <span>{{img.des}}</span>
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-{{i}}" (click)="selectOccianOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Atmospere Tab -->
          <div class="tab-pane" id="atmospere" role="tabpanel" aria-labelledby="history-tab">
            <div class="center">
              <div *ngFor="let img of atmosphereOption ;let i =index" class="center-slide">
                <div class="card">
                  <div class="content p-2">
                    <p>{{img.name}}</p>
                    <span>{{img.des}}</span>
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-atm-{{i}}" (click)="selectAtmospereOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Climate Tab -->
          <div class="tab-pane" id="climate" role="tabpanel" aria-labelledby="deals-tab">
            <div class="center">
              <div *ngFor="let img of climateOption ;let i =index" class="center-slide">
                <div class="card">
                  <div class="content p-2">
                    <p>{{img.name}}</p>
                    <span>{{img.des}}</span>
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-cli-{{i}}" (click)="selectClimateOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Terrain Tab -->
          <div class="tab-pane" id="terrain" role="tabpanel" aria-labelledby="deals-tab">
            <div class="center">
              <div *ngFor="let img of terrainOption ;let i =index" class="center-slide">
                <div class="card">
                  <div class="content p-2">
                    <p>{{img.name}}</p>
                    <span>{{img.des}}</span>
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-ter-{{i}}" (click)="selectTerrainOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Interest Tab -->
          <div class="tab-pane" id="interests" role="tabpanel" aria-labelledby="deals-tab">
            <div class="center">
              <div *ngFor="let img of intrestOption ;let i =index" class="center-slide">
                <div class="card">
                  <div class="content p-2">
                    <p>{{img.name}}</p>
                    <span>{{img.des}}</span>
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-int-{{i}}" (click)="selectInterestOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- map -->
          <div class="tab-pane" id="map" role="tabpanel" aria-labelledby="deals-tab">
            <article class="page-content mt-5" id="demo-page-continents">
              <!-- SECTION DEMO -->
              <section id="section-demo">
                <!-- MAP -->
                <div id="display-map" class="display-demo-map">
                  <!-- CSSMap - Continents -->
                  <div id="map-continents">
                    <ul class="continents">
                      <li class="c1" data-interest="Africa"><a href="#africa">Africa</a></li>
                      <li class="c2" data-interest="Asia"><a href="#asia">Asia</a></li>
                      <li class="c3" data-interest="Australia"><a href="#australia">Australia</a></li>
                      <li class="c4" data-interest="Europe"><a href="#europe">Europe</a></li>
                      <li class="c5" data-interest="North America"><a href="#north-america">North America</a></li>
                      <li class="c6" data-interest="South America"><a href="#south-america">South America</a></li>
                    </ul>
                  </div>
                </div>
              </section>
            </article>
            <div *ngIf="continentsList.length">
              <div *ngFor="let continent of continentsList" class="mt-5">
                <div class="place-section ">
                  <div>
                    <img src='assets/images/location.png'>
                  </div>
                  <div>
                    <p class="text-white">
                      Intersting places in <br>
                      <span>{{continent.name}}</span>
                    </p>
                  </div>
                </div>
                <div>
                  <div class="map-slider">
                    <div *ngFor="let img of continent.images;let i=index" class="center-slide">
                      <span data-id="{{img.name}}"></span>
                      <div style="position: relative;">
                        <img [src]="img.url">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="next_btn" (click)="nextForm()">
      <button>Submit</button>
    </div>
  </div>
  <div *ngIf="loading">
    <div id="loader-wrapper">
      <div class="heartbeatloader">
        <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
      </div>
    </div>
  </div>
</ion-content>