<ion-header>
  <app-header [cname]="'Destination Finder'"></app-header>
</ion-header>
<ion-content>
  <div class="all_content destination-content p-0">
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link  active" data-toggle="tab" href="#occasion">Occasion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link atm-slide" data-toggle="tab" href="#atmospere">Atmosphere</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cli-slide" data-toggle="tab" href="#climate">Climate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ter-slide" data-toggle="tab" href="#terrain">Terrain</a>
        </li>
        <li class="nav-item">
          <a class="nav-link inr-slide" data-toggle="tab" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tra-slide" data-toggle="tab" href="#travel">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link map-tab" data-toggle="tab" href="#map">Map</a>
        </li>

      </ul>

      <div class="tab-content">

        <!-- Occian Tab -->
        <div class="container tab-pane fade show active" id="occasion">
         
          <div class="swiper-container mt-4" >
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let img of occasionOption ;let i =index">
                <div class="card">
                  <div class="content p-2">
                    <p class="option-title">{{img.name}}</p>
                    <!-- <p class="option-dec">{{img.des}}</p> -->
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-{{i}}" (click)="selectOccianOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Atmospere Tab -->
        <div class="container tab-pane fade" id="atmospere">
          <div *ngIf="sliderLoading">
            <ion-spinner></ion-spinner>
          </div>
          <div class="swiper-container1 mt-4"  *ngIf="!sliderLoading">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let img of atmosphereOption ;let i =index">
                <div class="card">
                  <div class="content p-2">
                    <p class="option-title">{{img.name}}</p>
                    <!-- <p class="option-dec">{{img.des}}</p> -->
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-atm-{{i}}" (click)="selectAtmospereOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Climate Tab -->
        <div class="container tab-pane fade" id="climate">
          <div *ngIf="sliderLoading">
            <ion-spinner></ion-spinner>
          </div>
          <div class="swiper-container2 mt-4" *ngIf="!sliderLoading">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let img of climateOption ;let i =index">
                <div class="card">
                  <div class="content p-2">
                    <p class="option-title">{{img.name}}</p>
                    <!-- <p class="option-dec">{{img.des}}</p> -->
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-cli-{{i}}" (click)="selectClimateOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Terrain Tab -->
        <div class="container tab-pane fade" id="terrain" >
          <div *ngIf="sliderLoading">
            <ion-spinner></ion-spinner>
          </div>
          <div class="swiper-container3 mt-4" *ngIf="!sliderLoading">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let img of terrainOption ;let i =index">
                <div class="card">
                  <div class="content p-2">
                    <p class="option-title">{{img.name}}</p>
                    <!-- <p class="option-dec">{{img.des}}</p> -->
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-ter-{{i}}" (click)="selectTerrainOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Interest Tab -->
        <div class="container tab-pane fade" id="interests">
          <div *ngIf="sliderLoading">
            <ion-spinner></ion-spinner>
          </div>
          <div class="swiper-container4 mt-4" *ngIf="!sliderLoading">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let img of intrestOption ;let i =index">
                <div class="card">
                  <div class="content p-2">
                    <p class="option-title">{{img.name}}</p>
                    <!-- <p class="option-dec">{{img.des}}</p> -->
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-int-{{i}}" (click)="selectInterestOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Travel Tab -->
        <div class="container tab-pane fade" id="travel">
          <div *ngIf="sliderLoading">
            <ion-spinner></ion-spinner>
          </div>
          <div class="swiper-container5 mt-4" *ngIf="!sliderLoading">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let img of travelOption ;let i =index">
                <div class="card">
                  <div class="content p-2">
                    <p class="option-title">{{img.name}}</p>
                    <!-- <p class="option-dec">{{img.des}}</p> -->
                  </div>
                  <div class="img-div p-1">
                    <img [src]="img.url">
                  </div>
                  <div class="like-icon active-tra-{{i}}" (click)="selectTravelOption(img,i)">
                    <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                    <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- map -->
        <div class="container tab-pane fade" id="map">
          <article class="page-content mt-5" id="demo-page-continents">
            <!-- SECTION DEMO -->
            <section id="section-demo">
              <!-- MAP -->
              <div id="display-map" class="display-demo-map">
                <!-- CSSMap - Continents -->
                <div id="map-continents">
                  <ul class="continents">
                    <li class="c1" data-interest="Africa"><a href="#africa">Africa</a></li>
                    <li class="c2" data-interest="Asia"><a href="#asia">Asia</a></li>
                    <li class="c3" data-interest="Australia"><a href="#australia">Oceania</a></li>
                    <li class="c4" data-interest="Europe"><a href="#europe">Europe</a></li>
                    <li class="c5" data-interest="North America"><a href="#north-america">North America</a></li>
                    <li class="c6" data-interest="South America"><a href="#south-america">South America</a></li>
                  </ul>
                </div>
              </div>
            </section>
          </article>
          <div *ngIf="continentsList.length">
            <div *ngFor="let continent of continentsList" class="mt-5">
              <div class="place-section ">
                <div>
                  <img src='assets/images/location.png'>
                </div>
                <div>
                  <p class="text-white">
                    Intersting places in <br>
                    <span>{{continent.name}}</span>
                  </p>
                </div>
              </div>
              <div>
                <div class="gallery">
                  <div class="gallery-cell" *ngFor="let img of continent.images;let i=index">
                    <p data-id="" class="text-white">{{img.name}}</p>
                    <div style="position: relative;">
                      <img [src]="img.url" (click)="clickimahe()">
                    </div>
                    <!-- <div class="like-icon active-tra-{{i}}" (click)="selectMapPlaces(img,i)">
                      <i class="fas fa-star" *ngIf="img.isSelectIcon"></i>
                      <i class="far fa-star" *ngIf="!img.isSelectIcon"></i>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <div class="next_btn" (click)="nextForm()">
      <button>Submit</button>
    </div>
  </div>
  <div *ngIf="loading">
    <div id="loader-wrapper">
      <div class="heartbeatloader">
        <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
      </div>
    </div>
  </div>
</ion-content>