.all_content .nav.nav-tabs {
	flex-wrap: nowrap;
	overflow-x: auto;
	border-bottom: 2px solid #81D4FA;
	z-index: 1;
	position: relative;
}
.all_content .nav-tabs .nav-item {
	position: relative;
	z-index: 11;
	margin-bottom: -2px;
	margin-left: 2px;
}
.all_content .nav-tabs .nav-item:first-child{
	margin-left: 0px;
}
.all_content .nav-tabs .nav-link {
	border-width: 2px;
	font-weight: bold;
	padding: 5px 15px;
	color: #021b79;
	background-color: #81D4FA;
	border-color: #81D4FA;
	opacity: 0.3;
	position: relative;
	border-radius: 10px 10px 0px 0px;
}
.all_content .nav-tabs .nav-link.active {
	opacity: 1;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 230px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  .img-div {
    height: 195px;
    // border-radius: 50%;
    // overflow: hidden;
    img {
      max-height: 100%;
      min-width: 100%;
      max-height: 100%;
      min-height: 100%;
      object-fit: fill;
      opacity: 0.5;
      background: white;
      border-radius: 5px;
    }
  }
  .option-title{
    font-size: 17px;
    font-weight: 600;
  }
  .option-dec{
    font-size: 12px;
  }
    
  .like-icon {
    padding: 0;
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: orange;
    background: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
  }

}
.swiper-slide-active{
  .img-div {
    height: 225px;
  }
  img {
    opacity: 1 !important;
  }
}
// .demo-class {
//   // max-width:100%;
//   overflow-x: auto;
//   display: flex;

//   background: transparent;
//   position: relative;
//   .nav-item {
//     position: relative;
//   }

//   .nav-link {
//     border: none;
//     &:after {
//       content: "";
//       // position: absolute;
//       // top: 2.25em;
//       // left: 51%;
//       // display: block;
//       // margin-left: 50%;
//       // z-index: 2;
//       // width: 0;
//       // height: 0;
//       // border-color: #003574 rgba(0, 0, 0, 0);
//       // border-style: solid;
//       // box-sizing: content-box;
//       // transform: translateX(-50%);
//       // // border-width: 0 0 0 0;
//       // border-width: 12px 12px 0 14px;
//       // -webkit-transition: all 0.3s 0.15s;
//       // transition: all 0.3s 0.15s;
//     }
//   }
//   .nav-link.active {
//     border-bottom: 5px solid #003574;
//     // transition: all 0s 0.3s ;
//     // background: #9e9e9e4f;
//     background: #00357466;
//     &:before {
//       background-color: #393e46;
//     }
//     &:after {
//       // border-width: 1em 1em 0 1em;
//       border-width: 12px 12px 0 14px;
//       -webkit-transition: all 0.3s 0.15s;
//       transition: all 0.3s 0.15s;
//     }
//   }
//   li:first-child .nav-link {
//     margin-left: 10px;
//   }
//   .nav-link {
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
//     font-weight: 600;
//     padding: 10px;
//     color: white;
//     &:before {
//       content: "";
//       // position: absolute;
//       // top: 0;
//       // left: 0;
//       // right: 0;
//       // bottom: 0;
//       // z-index: -2;
//       // transition: all 0.3s;
//     }
//     &:after {
//       // content: "";
//       // position: absolute;
//       // top: 2.25em;
//       // left: 51%;
//       // z-index: 2;
//       // width: 0;
//       // height: 0;
//       // border-color: #003574 rgba(0, 0, 0, 0);
//       // border-style: solid;
//       // box-sizing: content-box;
//       // transform: translateX(-50%);
//       // border-width: 0 0 0 0;
//     }
//   }
// }

// .nav {
//   flex-wrap: nowrap !important;
// }

// .nav-tabs .nav-link.active {
//   // border-bottom: 4px solid #0374e5;
//   // color: #0170e1;
//   background-color: unset;
//   border-color: unset;
//   font-weight: 600;
//   font-size: 13px;
//   box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
//   background-color: #003574;
//   color: white;
//   transition: 0.4s;
//   z-index: 3;
// }
// .nav-tabs li:first-child .nav-link {
//   margin-left: 45px;
// }
// .nav-tabs .nav-link {
//   padding: 15px 24px 13px;
//   background-color: #fff;
//   margin-right: 46px;
//   z-index: 2;
//   position: relative;
//   color: #777;
//   font-weight: 600;
//   font-size: 13px;
//   text-transform: uppercase;
//   transition: all 250ms ease;
// }
// .nav-tabs .nav-link:before,
// .nav-tabs .nav-link:after {
//   display: block;
//   content: " ";
//   position: absolute;
//   top: 0;
//   height: 100%;
//   width: 44px;
//   background-color: #fff;
//   transition: all 250ms ease;
// }
// .nav-tabs .nav-link.active:before,
// .nav-tabs .nav-link.active:after {
//   background-color: #003574;
// }
// .nav-tabs .nav-link:before {
//   right: -24px;
//   transform: skew(30deg, 0deg);
//   box-shadow: rgba(0, 0, 0, 0.1) 3px 2px 5px, inset rgba(255, 255, 255, 0.09) -1px 0;
//   border-radius: 0 15px 0 0;
// }
// .nav-tabs .nav-link:after {
//   left: -24px;
//   transform: skew(-30deg, 0deg);
//   box-shadow: rgba(0, 0, 0, 0.1) -3px 2px 5px, inset rgba(255, 255, 255, 0.09) 1px 0;
//   border-radius: 15px 0 0 0;
// }

// .nav-tabs .nav-link {
//   border: none;
// }
// .nav-item {
//   a {
//     color: black;
//   }
// }

// .btn-ripple {
//   display: inline-block;
//   position: relative;
//   transition: all ease-in-out 0.5s;
// }

// .btn-ripple::after {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 25%;
//   height: 100%;
//   width: 25%;
//   background-color: #000;
//   border-radius: 50%;
//   opacity: 0;
//   pointer-events: none;
//   transition: all ease-in-out 0.4s;
//   transform: scale(5, 5);
// }

// .btn-ripple:active::after {
//   padding: 0;
//   margin: 0;
//   opacity: 0.2;
//   transition: 0s;
//   transform: scale(0, 0);
// }

// Map tab css
.place-section {
  display: flex;
  img {
    height: 30px;
  }
  p {
    font-weight: 600;
    span {
      text-transform: uppercase;
    }
  }
}

.gallery {
  background: transparent;
}

.gallery-cell {
  width: 50%;
  margin-right: 10px;
  counter-increment: gallery-cell;
  margin-top: 45px;
  img {
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    object-fit: fill;
    border-radius: 8px;
    opacity: 0.5;
  }
  p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
    display: none;
  }
}
.gallery-cell.is-selected {
  height: 140px;
  margin-top: 3px;
  img {
    height: 140px;
    opacity: unset;
  }
  p {
    display: block;
  }
}

.animate-icon {
  animation: spin 0.6s forwards;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transition-timing-function: ease-in-out;
}
.unselect-icon {
  animation: unspin 0.3s forwards;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transition-timing-function: ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(175deg);
  }
  66% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(144deg);
  }
}
@keyframes unspin {
  0% {
    transform: rotate(142deg);
  }
  100% {
    transform: rotate(72deg);
  }
}
