.all_content {
  .nav.nav-tabs {
    flex-wrap: nowrap;
    overflow-x: auto;
    border-bottom: 2px solid #81D4FA;
    z-index: 1;
    position: relative;
  }
  .nav-tabs .nav-item {
    position: relative;
    z-index: 11;
    margin-bottom: -2px;
    margin-left: 2px;
  }
  .nav-tabs .nav-item:first-child{
    margin-left: 0px;
  }
  .nav-tabs .nav-link {
    border-width: 2px;
    font-weight: bold;
    padding: 5px 15px;
    color: #021b79;
    background-color: #81D4FA;
    border-color: #81D4FA;
    opacity: 0.3;
    position: relative;
    border-radius: 10px 10px 0px 0px;
  }
  .nav-tabs .nav-link.active {
    opacity: 1;
  }
}
ion-spinner{
  display: block;
  margin: 20% auto;
  color: white;
}
.swiper-container,.swiper-container1{
  width: 100%;
  height: 100%;
}
.swiper-slide  {
  width: 230px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  .img-div {
    height: 195px;
    min-width: 228px;
    // border-radius: 50%;
    // overflow: hidden;
    img {
      max-height: 100%;
      min-width: 100%;
      max-height: 100%;
      min-height: 100%;
      object-fit: fill;
      opacity: 0.5;
      background: white;
      border-radius: 5px;
    }
  }
  .option-title{
    font-size: 17px;
    font-weight: 600;
  }
  .option-dec{
    font-size: 12px;
  }
    
  .like-icon {
    padding: 0;
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: orange;
    background: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
  }

}
.swiper-slide-active{
  .img-div {
    height: 255px;
  }
  img {
    opacity: 1 !important;
  }
}

// Map tab css
.place-section {
  display: flex;
  img {
    height: 30px;
  }
  p {
    font-weight: 600;
    span {
      text-transform: uppercase;
    }
  }
}

.gallery {
  background: transparent;
  .like-icon {
    padding: 0;
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: orange;
    background: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
  }
 
}

.gallery-cell {
  width: 50%;
  margin-right: 10px;
  counter-increment: gallery-cell;
  margin-top: 45px;
  img {
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    object-fit: fill;
    border-radius: 8px;
    opacity: 0.5;
  }
  p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
    display: none;
  }
}
.gallery-cell.is-selected {
  height: 140px;
  margin-top: 3px;
  img {
    height: 140px;
    opacity: unset;
  }
  p {
    display: block;
  }
  .like-icon{
    margin-bottom: -21px;
  }
}

.animate-icon {
  animation: spin 0.6s forwards;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transition-timing-function: ease-in-out;
}
.unselect-icon {
  animation: unspin 0.3s forwards;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transition-timing-function: ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(175deg);
  }
  66% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(144deg);
  }
}
@keyframes unspin {
  0% {
    transform: rotate(142deg);
  }
  100% {
    transform: rotate(72deg);
  }
}
