<ion-header>
  <app-header [cname]="'Destination Finder'"></app-header>
</ion-header>
<ion-content>
  <div class="all_content">
    <h4 class="text-white mb-3">Occasion Of the Vacation </h4>
    <div>
      <div class="center">
        <div *ngFor="let img of occasionOption" class="center-slide">
          <p>{{img.name}}</p>
          <div style="position: relative;">
            <i class="far fa-heart like-icon"></i>
            <!-- <ion-icon name="ios-heart" class="like-icon"></ion-icon> -->
            <img [src]="img.url">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>