<ion-header>
    <app-header [cname]="'Amendments'"></app-header>
</ion-header>

<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class="all_content">

        <div *ngIf="messagesList.length">
            <div *ngFor="let msg of messagesList ; let i=index">
                <ion-row *ngIf="isDifferentDay(i)" class="mb-2">
                    <ion-badge style="margin: auto;">{{ getMessageDate(i) }}
                    </ion-badge>
                </ion-row>
                <div *ngIf="msg.message.sender_id == currentUser.id" class="send_msg d-flex justify-content-end mb-4">
                    <div class="user_msg">
                        <p *ngIf="msg.message.message_type == 'text'">{{msg.message.msg}}</p>
                        <div *ngIf="msg.message.message_type == 'latlon'"
                            (click)="openMap(msg.message.msg.lat,msg.message.msg.lon,msg.message.msg.name)">
                            <agm-map [latitude]="+msg.message.msg.lat " [longitude]="+msg.message.msg.lon" style="height: 160px;
                        width: 210px;" [scrollwheel]="null" [gestureHandling]="none" [mapDraggable]="false"
                                [maxZoom]="0">
                                <agm-marker [latitude]="+msg.message.msg.lat " [longitude]="+msg.message.msg.lon ">
                                </agm-marker>
                            </agm-map>
                            <p>{{msg.message.msg.name}}</p>
                        </div>
                        <div *ngIf="msg.message.message_type == 'image'" class="image-type"
                            (click)="downloadImage(msg.message.msg)">
                            <img [src]="msg.message.msg.url" onError="src = 'assets/images/placeholder.png'" />
                        </div>
                        <div (click)="downloadImage(msg.message.msg)" *ngIf="msg.message.message_type == 'video'"
                            class="video-view">
                            <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                                class="videoPlayer">
                                <source src="{{msg.message.msg.url}}" type="video/mp4" />
                            </video>
                        </div>
                        <div *ngIf="msg.message.message_type == 'file'" class="file-type"
                            (click)="downloadImage(msg.message.msg)">
                            <div *ngIf="!msg.message.msg.mimeType.includes('image')" class="holds-the-iframe">
                                <iframe
                                    [src]="'https://docs.google.com/viewerng/viewer?url=' + msg.message.msg.url +'&embedded=true' | safe:'resourceUrl'"
                                    frameborder="0">
                                </iframe>
                                <p>{{msg.message.msg.name}}</p>
                            </div>
                            <div *ngIf="msg.message.msg.mimeType.includes('image')" class="image-type">
                                <img [src]="msg.message.msg.url" onError="src = 'assets/images/placeholder.png'" />
                            </div>
                        </div>

                        <div *ngIf="msg.message.message_type == 'audio'">
                            <audio controls style="width: 67vw;">
                                <source src="{{msg.message.msg.url}}" type="audio/mpeg">
                            </audio>
                        </div>

                        <div *ngIf="msg.message.message_type == 'ifram'">
                            <p [innerHtml]="msg.message.msg.location"></p>
                        </div>

                        <small>{{ changeDateFormate(msg.message.date)}}</small>
                    </div>
                    <div class="user_profile">
                        <ion-img src="../../assets/images/avatar1.png"></ion-img>
                    </div>
                </div>
                <div *ngIf="msg.message.sender_id != currentUser.id"
                    class="receive_msg d-flex justify-content-start mb-4">
                    <div class="user_profile">
                        <ion-img src="../../assets/images/avatar.png"></ion-img>
                    </div>
                    <div class="user_msg">
                        <p *ngIf="msg.message.message_type == 'text'">{{msg.message.msg}}</p>
                        <div *ngIf="msg.message.message_type == 'latlon'"
                            (click)="openMap(msg.message.msg.lat,msg.message.msg.lon,msg.message.msg.name)">
                            <agm-map [latitude]="+msg.message.msg.lat" [longitude]="+msg.message.msg.lon" style="height: 160px;
                        width: 210px;" [scrollwheel]="null" [gestureHandling]="none" [mapDraggable]="false"
                                [maxZoom]="0">
                                <agm-marker [latitude]="+msg.message.msg.lat" [longitude]="+msg.message.msg.lon">
                                </agm-marker>
                            </agm-map>
                            <p>{{msg.message.msg.name}}</p>
                        </div>
                        <div *ngIf="msg.message.message_type == 'image'" class="image-type"
                            (click)="downloadImage(msg.message.msg)">
                            <img [src]="msg.message.msg.url" onError="src = 'assets/images/placeholder.png'" />
                        </div>
                        <div (click)="downloadImage(msg.message.msg)" *ngIf="msg.message.message_type == 'video'"
                            class="video-view">
                            <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                                class="videoPlayer">
                                <source src="{{msg.message.msg.url}}" type="video/mp4" />
                            </video>
                        </div>
                        <div *ngIf="msg.message.message_type == 'file'" class="file-type"
                            (click)="downloadImage(msg.message.msg)">

                            <div *ngIf="!msg.message.msg.mimeType.includes('image')" class="holds-the-iframe">
                                <iframe
                                    [src]="'https://docs.google.com/viewerng/viewer?url=' + msg.message.msg.url +'&embedded=true' | safe:'resourceUrl'"
                                    frameborder="0">
                                </iframe>
                                <p>{{msg.message.msg.name}}</p>
                            </div>
                            <div *ngIf="msg.message.msg.mimeType.includes('image')" class="image-type">
                                <img [src]="msg.message.msg.url" onError="src = 'assets/images/placeholder.png'" />
                            </div>
                        </div>
                        <div *ngIf="msg.message.message_type == 'audio'">
                            <audio controls style="width: 67vw;">
                                <source src="{{msg.message.msg.url}}" type="audio/mpeg">
                            </audio>
                        </div>
                        <div *ngIf="msg.message.message_type == 'ifram'">
                            <p>iframe</p>
                            <div id="{{msg.key}}"></div>
                        </div>
                        <div *ngIf="msg.message.message_type == 'link'">
                            <p>link</p>
                            <div [innerHtml]="msg.message.msg.location"></div>
                        </div>
                        <!-- <small>{{msg.message.date | date:'EEEE \',\' h:mm \'\ a'}}</small> -->
                        <small>{{ changeDateFormate(msg.message.date)}}</small>

                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="loading">
            <div id="loader-wrapper">
                <div class="heartbeatloader">
                    <ion-img class="svgdraw" src="../../assets/images/loader.gif"></ion-img>
                </div>
            </div>
        </div>
        <div *ngIf="!loading && !messagesList.length">
            <span class="text-white text-center no-message">No message</span>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="footer_sec">
            <form [formGroup]="addMessageForm">
                <div class="input-group">
                    <div class="input-group-prepend" id="open_attachment">
                        <span class="input-group-text"><i class="fas fa-angle-down"></i></span>
                    </div>
                    <input *ngIf="!recording" type="text" class="form-control" formControlName="message"
                        placeholder="Say something" (keyup.enter)="send(addMessageForm.value,'text')">
                    <div class="form-control audio-input" *ngIf="recording"> <span id="mins">00:</span>
                        <span id="seconds">00</span> </div>
                    <div class="input-group-append" (click)="send(addMessageForm.value,'text')" *ngIf="!recording">
                        <span class="input-group-text"><i class="fas fa-arrow-right"></i></span>
                    </div>
                    <div class="audio-record" (press)="startRecord()" (pressup)="stopRecord()">
                        <img src="assets/images/mic.png" />
                    </div>

                </div>
            </form>
            <div class="attechments" style="display: none;">
                <div class="row">
                    <div class="col-3 px-2">
                        <div class="attach_img">
                            <input type="file" class="form-control" #img hidden accept="image/*"
                                (change)="selectFile($event,'image')" multiple>
                            <label (click)="img.click()"> <i class="fas fa-camera "></i></label>
                            <p>PHOTO</p>
                        </div>
                    </div>
                    <div class="col-3 px-2 ">
                        <div class="attach_img ">
                            <input type="file" #video class="form-control" hidden
                                accept="video/mp4,video/x-m4v,video/* " (change)="selectFile($event,'video')">
                            <label (click)="video.click()"><i class="fas fa-video "></i></label>
                            <p>VIDEO</p>
                        </div>
                    </div>
                    <div class="col-3 px-2 " (click)="launchLocationPage()">
                        <div class="attach_img ">
                            <i class="fas fa-map-marker-alt "></i>
                            <p>LOCATION</p>
                        </div>
                    </div>
                    <div class="col-3 px-2 ">
                        <div class="attach_img ">
                            <input type="file" #file3 class="form-control " style="display: none; "
                                (change)="selectFile($event,'file')">
                            <label (click)="file3.click()"><i class="fas fa-link "></i></label>
                            <p (click)="file3.click()">FILE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>