ion-content {
    --background: #fff !important;
}

.document_content {
    position: relative;
    z-index: 11;
    // top: 50%
}

.single_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 10px;
    p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 97px;
    }
}

.single_img_div {
    height: 130px;
    object-fit: cover;
}

.single_img_div img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}
.image_preview {
    height: 250px;
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}

ion-slides {
    height: 230px;
}
.send_button {
    border-radius: 50%;
    background-color: #3c75e6;
    position: fixed;
    bottom: 91px;
    right: 24px;
    height: 48px;
    width: 48px;
    z-index: 111;
    cursor: pointer;
    text-align: center;
    line-height: 57px;
    color: white;
    font-size: 25px;
    ion-icon {
        margin-left: 7px;
    }
}
.finish_button {
    padding: 30px;
    button {
        border-radius: 30px;
        line-height: 46px;
        color: #ffffff;
        font-size: 15px;
        position: relative;
        width: 100%;
        font-weight: 500;
        outline: none;
        background: -webkit-gradient(linear, left top, right top, from(#0575e6), to(#021b79));
        background: linear-gradient(to right, #0575e6, #021b79);
        box-shadow: none;
        outline: none;
        // box-shadow: 2px 1px 3px rgba(129, 59, 219, 0.5);
        ion-img {
            margin-right: 15px;
            display: inline-block;
            width: 24px;
        }
    }
    .btn:hover{
        color: white;
        outline: none;
        box-shadow: none;
    }
}
.upload_file_progress {
    // padding: 15px 15px 0px 15px;
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #c7cbd6;
    .progress_bar {
        p {
            font-size: 14px;
            color: #434a5e;
            font-weight: 400;
        }
        h6 {
            font-size: 9px;
            color: #434a5e;
            margin-top: 10px;
        }
    }
    .uploded_image {
        // height: 75px;
        // width: 48px;
    }
    .progress_design {
        ion-img {
            height: 25px;
            width: 25px;
        }
        span {
            font-size: 10px;
            color: #434a5e;
        }
    }
}