<ion-header>
    <app-header [cname]="'Upload Documents'"></app-header>
</ion-header>
<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class="document_content">
        <div>
            <div class="submit_btn select_files">
                <input type="file" #file1 style="display: none;" (change)="selectOtherFile($event)" multiple>
                <button (click)="file1.click()">Add new Document</button>
            </div>
            <div *ngIf="urls && urls.length">
                <div class="row">
                    <div class="col-3" *ngFor="let url of urls">
                        <div class="uploded_image">
                            <ion-img [src]="url.imgUrl || 'assets/images/placeholder.png' " *ngIf="url.type=='img'">
                            </ion-img>
                            <span *ngIf="url.type=='pdf'">{{url.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit_btn" *ngIf="urls.length">
                <button (click)="addToGallery()" class="btn" [disabled]="isDisable">Add to Gallery</button>
            </div>
        </div>
        <div class="all_uploaded_img">
            <div *ngIf="allImage.length">
                <div class="row m-0">
                    <div class="col-4 img-icon p-0" *ngFor="let photo of allImage.reverse()" style="cursor: pointer;"
                        (click)="selectDocument(photo.id,photo.image_url,photo.image_extension,photo.image_name)">
                        <div class="single_img">
                            <div class="single_img_div">
                                <img [src]="photo.image_url" onError="src = 'assets/images/placeholder.png'"
                                    class="image-{{photo.id}}" style="opacity: 1;"
                                    *ngIf="photo.image_extension == 'png' || photo.image_extension == 'jpg'  || photo.image_extension == 'jpeg'" />

                                <div *ngIf="photo.image_extension == 'pdf'">
                                    <img src="assets/images/pdf.jpeg">
                                    <p>{{photo.image_name}}</p>
                                </div>
                                <div *ngIf="photo.image_extension == 'xlsx'||photo.image_extension == 'xls' ">
                                    <img src="assets/images/xl.png">
                                    <p>{{photo.image_name}}</p>
                                </div>
                                <div
                                    *ngIf="photo.image_extension == 'doc'||photo.image_extension == 'docx'|| photo.image_extension == 'odt' ">
                                    <img src="assets/images/doc.jpeg">
                                    <p>{{photo.image_name}}</p>
                                </div>
                                <div
                                    *ngIf="photo.image_extension != 'png' && photo.image_extension != 'jpg'  && photo.image_extension != 'jpeg' && photo.image_extension != 'xlsx' && photo.image_extension != 'xls' && photo.image_extension != 'pdf'&& photo.image_extension != 'doc'&& photo.image_extension != 'docx'&&  photo.image_extension != 'odt'">
                                    <img src="assets/images/docs2.png">
                                    <p>{{photo.image_name}}</p>
                                </div>
                            </div>
                            <ion-icon name="checkmark" class="checkmark-icon-{{photo.id}}"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit_btn" *ngIf="documentId.length" (click)="closeModal()">
                <button><i class="fas fa-plus"></i>Done</button>
            </div>
        </div>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>