<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
          <ion-buttons slot="start">
            <ion-back-button>
                             <i class="fas fa-angle-left back_icon_purple"></i>
            </ion-back-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center">
          <span class="home_text">Benifits</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="card">
      <div class="card_header w-100">
        <ion-img src="../../assets/images/benefits.png"></ion-img>
        <p>Upgrade To Premium </p>
      </div>
      <div class="card_body">
        <h3>Premium account
          benefits.</h3>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis
          nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute
          irure dolor in reprehenderit in
          voluptate velit esse cillum dolore
          eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non
          proident, sunt in</p>
        <p class="text-center">Cost : 10,000</p>
      </div>
      <div class="card_footer">
        <button type="submit" routerLink='/home/premium-account'>
          <i class="fas fa-paper-plane"></i>
           Proceed to pay
        </button>
      </div>
    </div>
  </div>
</ion-content>