<ion-content>
    <div class="login_form_page">
        <div class="login">
            <img src="assets/images/logo.png" class="mt-5 mb-2 logo">
            <p class="login_header">Login</p>
            <form class="login_form" [formGroup]='loginForm'>
                <div class="form-group mb-4" style="position: relative;">
                    <img src="assets/images/mail.png" class="email-icon"/>
                    <input type="text" class="form-control" formControlName="username" id="email" placeholder="Email" required />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Email is required</div>
                        <div *ngIf="f.username.errors.email">Email is invalid</div>
                    </div>
                </div>
                <div class="form-group mb-4" style="position: relative;">
                    <img src="assets/images/lock.png" class="fa-lock">
                    <ion-icon [name]="passwordIcon" (click)="showHide()" class="eye-icon"></ion-icon>
                    <input [type]="passwordType"  class="form-control" formControlName="password" id="password" placeholder="Password">  
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <button type="submit" class="login_btn btn" (click)="loginUser(loginForm.value)" [disabled]="isDisable">Login</button>
                <div class="sign_up_link text-center">
                    <a id="forgot-psw">Forgot Your Password?</a>
                </div>
                <div class="or_section">or connect with</div>
                <div class="social_media_login">
                    <div class="row">
                        <div class="col-6">
                            <div class="facebook_login">
                                <button href="#" class="facebook_btn btn" (click)="facebookLogin()" [disabled]="isDisable"><i
                                        class="fab fa-facebook-f"></i>Facebook
                                </button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="google_login">
                                <button class="google_btn btn" (click)="googleLogin()" [disabled]="isDisable"><img src="assets/images/google.png" >
                                    Google</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sign_up_link text-center">
                    <a href="#" routerLink='/signup'>Create new account? <span class="text-white"> Sign Up</span></a>
                </div>
                <div class="text-center">
                    <p style="font-size: 12px;
                    color: #658ece">Unravelling Travel Experience</p>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>

    <div class="modal_content_with_overlay" id="forgot-password" style="display: none;">
        <div class="modal_body">
            <div class="modal_content">
                <h5>Forgot Password</h5>
                <form [formGroup]='forgotPswForm'>
                    <div class="form-group">
                        <div>
                            <ion-item>
                                <ion-label position="floating">Enter Email</ion-label>
                                <ion-input type="email" formControlName="email"></ion-input>
                            </ion-item>
                            <div *ngIf="submmitedFPsw && fpsw.email.errors" class="invalid-feedback">
                                <div *ngIf="fpsw.email.errors.required">Email is required</div>
                                <div *ngIf="fpsw.email.errors.email">Email is invalid</div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="submit_btn">
                    <button type="submit" (click)="forgotPassword(forgotPswForm.value)" [disabled]="isDisable">Submit</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>