<ion-header>
    <app-header [cname]="details.name"></app-header>
</ion-header>

<ion-content>
    <div class="benefits_content safet-to-travel-detail">
        <div class="card">
            <div class="card_header w-100">
                <p>Details</p>
            </div>
            <div class="card_body">
                <div [innerHtml]="details.detail"></div>
            </div>
        </div>
        <div class="mt-2" *ngIf="details.pdfUrl.id">
            <div (click)="previewImage(details.pdfUrl.image_url)">
                <ion-img src="{{details.pdfUrl.image_url || 'assets/images/placeholder.png'}}" (ionError)="onErrorImage()" (ionImgWillLoad)="ionImgWillLoad()" (ionImgDidLoad)="ionImgDidLoad()" *ngIf="details.pdfUrl.image_extension == 'jpg' || details.pdfUrl.image_extension == 'jpeg' || details.pdfUrl.image_extension == 'png'">
                </ion-img>
                <ion-spinner [hidden]="imgLoading"></ion-spinner>
            </div>
            <div class="mt-3 text-center text-white view_pdf" *ngIf="details.pdfUrl.image_extension != 'jpg' && details.pdfUrl.image_extension != 'jpeg' && details.pdfUrl.image_extension != 'png'">
                <i class="fa fa-file-pdf pr-2"></i>
                <span>{{details.pdfUrl.image_name}}</span>
                 <div class="holds-the-iframe"> <iframe style="height:230px;cursor: pointer;" class="w-100" [src]='pathToPreview | safe:"resourceUrl"' frameborder="0">
                </iframe></div>
            </div>
        </div>
        <div class="download_report" *ngIf="details.pdfUrl.id">
            <button type="submit" (click)="downloadPdf(details.pdfUrl.image_name,details.pdfUrl.mime_type)">
                <i class="fas fa-cloud-download-alt"></i>
               <span>Download</span>  
            </button>
        </div>
    </div>
</ion-content>