<ion-header>
    <app-header [cname]="'Frequent Flyer Program'"></app-header>
</ion-header>

<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class="benefits_content" *ngIf="FFPResponse.length">
        <div *ngFor="let ffp of FFPResponse">
            <div class="country_name w-100" (click)="getDetails(ffp)" *ngIf="ffp">
                <p class="float-left" *ngIf="ffp.frequent_flight">{{ffp.frequent_flight}}</p>
                <img *ngIf="!ffp.flight_image" src="/assets/images/placeholder.png"class="float-right">
                <img *ngIf="ffp.flight_image" src="{{ffp.flight_image || '../../../assets/images/placeholder.png'}}" class="float-right">
            </div>
        </div>
    </div>

    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="../../../assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>

    <div *ngIf="!loading && !FFPResponse.length">
        <span class="text-white no-request text-center">There are no FFP Response</span>
    </div>
    <div class="add_button" id="add_passport">
        <a href="javascript:void(0);">
            <img src="../../assets/images/plus.png">
        </a>
    </div>
    <!-- add FFP Request modal start  -->
    <div class="modal_content_with_overlay" id="add-passport-modal" style="display: none;">
        <div class="modal_body">
            <div class="modal_header">
                <p class="text-center">Add Airlines</p>
            </div>
            <div class="modal_content">
                <form [formGroup]="addFfpReqForm">
                    <div>
                        <ion-item>
                            <ion-label position="floating">Airline name</ion-label>
                            <ion-input type="text"  formControlName="flight_name"></ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.flight_name.errors" class="invalid-feedback">
                            <div *ngIf="f.flight_name.errors.required">Flight name is required</div>
                        </div>
                    </div>
                    <div>
                        <ion-item>
                            <ion-label position="floating">Airline Username </ion-label>
                            <ion-input type="text"  formControlName="user_name"></ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                            <div *ngIf="f.user_name.errors.required">User name is required</div>
                        </div>
                    </div>
                    <div>
                        <ion-item>
                            <ion-label position="floating">Airline Password</ion-label>
                            <ion-input type="text"  formControlName="password"></ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div>
                        <ion-item>
                            <ion-label position="floating">Points</ion-label>
                            <ion-input type="text"  formControlName="points"></ion-input>
                        </ion-item>
                        <!-- <div *ngIf="submitted && f.points.errors" class="invalid-feedback">
                            <div *ngIf="f.points.errors.required">Points is required</div>
                        </div> -->
                    </div>
                    <div class="make_folder">
                        <button (click)="addFfpRequest(addFfpReqForm.value)" class="btn" [disabled]="isDisable"><i class="fas fa-plus"></i>Add
                            Airline</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>