$purple: #0575E6;
$blue: #021B79;
$green: #2FE57C;
$button_color: #003574;
// content css start here
.all_content {
    ion-item {
        border-radius: 5px;
        --ripple-color: transparent;
        --background: #fff;
        background-color: #fff !important;
    }
}

.services_detail {
    p {
        font-weight: 600;
        font-size: 18px;
        color: #fff;
    }
    .select_plan {
        padding: 24px 0px;
        width: 100%;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        @media(max-height: 750px) {
            padding: 12px 0px;
        }
        ion-checkbox {
            --checkmark-color: #000;
            --background: #fff;
            --border-color: #000;
            --border-color-checked: #000;
            --background-checked: #fff;
            --size: 24px;
            --transition: 3s;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        ion-label {
            font-weight: 500;
            font-size: 17px;
        }
    }
}

.service_info {
    padding: 22px 16px;
    position: relative;
    span {
        background-color: #fff;
        color: #0575E6;
        padding: 8px 21px;
        border-radius: 50%;
        font-size: 22px;
        position: absolute;
        left: 5px;
        top: 6px;
        font-weight: 900;
    }
    .service_info_detail {
        background: linear-gradient(#0575E6, #021B79);
        border-radius: 5px;
        padding: 31px 10px;
        p {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
        }
    }
}

.select_plan_accomndation {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    p {
        color: #707070;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        padding: 0px 10px 15px 10px;
    }
}

// visa inquiry form start here 
.services_detail {
    .visa_text {
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        line-height: 42px;
    }
}

[data-toggle="collapse"] .fa:before {  
    content: "\f139";
  }
  
  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
  }

.all_service_details {
    .toggle-section {
        position: absolute;
        right: 20px;
        z-index: 11;
        top: calc(50% - 10px);
    }
}

.colapse-icon {
    position: relative;
    margin-bottom: 10px;
}

*{
	box-sizing: border-box;
}
 .error_alert_box3 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    -ms-flex-align: center;
    display: flex;
    overflow: hidden;
    z-index: 9999;
}
.alert_box_content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 280px;
    position: relative;
    margin: auto;
    display: table;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.4s;
    top: 100%;
}
.animate .alert_box_content{
	top: 0;
}
.alert_box_image img {
    height: 60px;
    width: 60px;
    opacity: 0;
    transform: scale(4);
    transition: all 0.2s;
    transition-delay: 0.4s;
}
.animate .alert_box_image img{
	opacity: 1;
	transform: scale(1);
}
.alert_box_text{
    margin-bottom: -30px;
    p ,div{
        // margin: 0;
        color: #7F8DAB;
        font-size: 18px;
        line-height: 24px;
    }
    p span {
        text-transform: uppercase;
    }
    h4 {
        // margin: 0;
        color: #434A5E;
        font-size: 24px;
        padding-bottom: 15px;
    }
}
 
.alert_box_image {
    top: 50px;
    position: relative;
}