<ion-header>
    <app-header [cname]="'New Trip'"></app-header>
</ion-header>

<ion-content>
    <div class="all_content">
        <!-- all services detail form start here  -->
        <div class="all_service_details">
            <div class="services_detail">
                <p class="ml-2 mb-2">Personalize</p>
                <div class="colapse-icon">
                    <ion-item>
                        <div class="select_plan">
                            <ion-checkbox id="visa" (click)="selectGeneralService('visa')"> </ion-checkbox>
                            <ion-label class="ml-3">Visa</ion-label>
                        </div>
                    </ion-item>
                    <a class="toggle-section collapsed collapsed" data-toggle="collapse" data-target="#visa-arrow"
                        aria-expanded="false" aria-controls="visa-arrow"> <i class="fa" aria-hidden="true"></i></a>
                </div>
                <div class="collapse multi-collapse mb-2" id="visa-arrow">
                    <div class="card card-body">
                        An endorsement on a passport indicating that the holder is permitted to enter, leave, or remain
                        for a predefined timeframe in a nation subject to the endorsement of the migration Authorities.
                    </div>
                </div>
                <div class="colapse-icon">
                    <ion-item>
                        <div class="select_plan">
                            <ion-checkbox id="air-tickets" (ionChange)="selectGeneralService( 'air-tickets')">
                            </ion-checkbox>
                            <ion-label class="ml-3" for="air-tickets">Air Tickets</ion-label>
                        </div>
                    </ion-item>
                    <a class="toggle-section collapsed" data-toggle="collapse" data-target="#air-tickets-arrow"
                        aria-expanded="false" aria-controls="air-tickets-arrow"> <i class="fa"
                            aria-hidden="true"></i></a>
                </div>
                <div class="collapse multi-collapse mb-2" id="air-tickets-arrow">
                    <div class="card card-body">
                        A Convenient, Comprehensive air travel solution with optimum routes & costs keeping in mind the
                        convenience of the voyager.
                    </div>
                </div>
                <div class="colapse-icon">
                    <ion-item>
                        <div class="select_plan">
                            <ion-checkbox id="passport" (ionChange)="selectGeneralService('passport')"> </ion-checkbox>
                            <ion-label class="ml-3">Passport</ion-label>
                        </div>
                    </ion-item>
                    <a class="toggle-section collapsed" data-toggle="collapse" data-target="#passport-arrow"
                        aria-expanded="false" aria-controls="passport-arrow"> <i class="fa" aria-hidden="true"></i></a>
                </div>
                <div class="collapse multi-collapse mb-2" id="passport-arrow">
                    <div class="card card-body">
                        An official archive issued by a government, certifying the holder's identity and citizenship and
                        entitling them to travel under its protection to and from foreign countries.
                    </div>
                </div>
            </div>
            <!-- <div class="service_info">
                <span><i class="fas fa-info"></i></span>
                <div class="service_info_detail">
                    <p class="text-center">Please select the services for the tour inquiry.</p>
                </div>
            </div> -->
            <div class="services_detail">
                <!-- <p class="ml-2">Personalize (Minimum : 3)</p> -->
                <!-- <div class="select_plan_accomndation"> -->
                <div class="colapse-icon select_plan_accomndation">
                    <ion-item>
                        <div class="select_plan">
                            <ion-checkbox id="accomodation" (ionChange)="selectTripServices('accomodation')">
                            </ion-checkbox>
                            <ion-label class="ml-3">Accomodation</ion-label>
                        </div>
                    </ion-item>
                    <a class="toggle-section collapsed" data-toggle="collapse" data-target="#accomodation-arrow"
                        aria-expanded="false" aria-controls="accomodation-arrow"> <i class="fa"
                            aria-hidden="true"></i></a>
                </div>
                <div class="collapse multi-collapse mb-2" id="accomodation-arrow">
                    <div class="card card-body">
                        A experienced & exquisite Offline Hotel Reservation System which manages your hotel's
                        reservations offline but bookings & confirmations can be accessible within the platform.
                    </div>
                </div>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
                <!-- </div> -->
                <div class="colapse-icon">
                    <ion-item>
                        <div class="select_plan">
                            <ion-checkbox id="tours" (ionChange)="selectTripServices('tours')"> </ion-checkbox>
                            <ion-label class="ml-3">Tours</ion-label>
                        </div>
                    </ion-item>

                    <a class="toggle-section collapsed" data-toggle="collapse" data-target="#tour-arrow"
                        aria-expanded="false" aria-controls="tour-arrow"> <i class="fa" aria-hidden="true"></i></a>
                </div>
                <div class="collapse multi-collapse mb-2" id="tour-arrow">
                    <div class="card card-body">
                        A Personalized option of things to do & see at all your destination choices.
                    </div>
                </div>
                <div class="colapse-icon">
                    <ion-item>
                        <div class="select_plan">
                            <ion-checkbox checked="false" id="transfers" (ionChange)="selectTripServices('transfers')">
                            </ion-checkbox>
                            <ion-label class="ml-3">Transfers</ion-label>
                        </div>
                    </ion-item>
                    <a class="toggle-section collapsed" data-toggle="collapse" data-target="#transfer-arrow"
                        aria-expanded="false" aria-controls="transfer-arrow"> <i class="fa" aria-hidden="true"></i></a>
                </div>
                <div class="collapse multi-collapse mb-2" id="transfer-arrow">
                    <div class="card card-body">
                        Competent, Complaint & Customized logistics on your journey to your dream destinations.
                    </div>
                </div>

                <div class="colapse-icon">
                    <ion-item>
                        <div class="select_plan">
                            <ion-checkbox checked="false" id="insurance" (ionChange)="selectOtherServices('insurance')">
                            </ion-checkbox>
                            <ion-label class="ml-3">Insurance</ion-label>
                        </div>
                    </ion-item>
                    <a class="toggle-section collapsed" data-toggle="collapse" data-target="#insurance-arrow"
                        aria-expanded="false" aria-controls="insurance-arrow"> <i class="fa" aria-hidden="true"></i></a>
                </div>
                <div class="collapse multi-collapse mb-2" id="insurance-arrow">
                    <div class="card card-body">
                        Whether travelling solo, with family or on a business, Leisure or study trips, a peaceful
                        journey is all we need during a trip. Be it home turf or international locations, travel
                        insurance plans will cover your back at every step of the journey, taking care of you and your
                        family against any adverse situations, be it medical or any trip inconvenience.
                    </div>
                </div>
                <div class="colapse-icon">
                    <ion-item>
                        <div class="select_plan">
                            <ion-checkbox checked="false" id="personal-tour-travel"
                                (ionChange)="selectOtherServices('personal-tour-guide')"> </ion-checkbox>
                            <ion-label class="ml-3">Personal Tour Guide</ion-label>
                        </div>
                    </ion-item>
                    <a class="toggle-section collapsed" data-toggle="collapse" data-target="#personal-tour-arrow"
                        aria-expanded="false" aria-controls="personal-tour-arrow"> <i class="fa"
                            aria-hidden="true"></i></a>
                </div>
                <div class="collapse multi-collapse mb-2" id="personal-tour-arrow">
                    <div class="card card-body">
                        An Experiential Tour Companion that helps you to connect with the local vibes of the destination
                        & assisting you through your personalized travel plan on your journey.
                    </div>
                </div>
            </div>

            <div class="next_btn">
                <button type="submit" (click)="nextForm()">Next<i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>

    <div class="error_alert_box3" style="display: none;">
        <div class="alert_box_content">
            <div class="alert_box_text">
                <h4>Oopps !!</h4>
                <div>
                    <span>Select atleast</span>
                    <p> three services</p>
                </div>
            </div>
            <div class="alert_box_image">
                <img src="assets/images/cross.png" alt="image icon">
            </div>
        </div>
    </div>
</ion-content>