<ion-header>
    <app-header [cname]="'Tours'"></app-header>
</ion-header>

<ion-content>
    <div class="all_content">
        <form [formGroup]="tourForm">
            <div class="services_detail">
                <p class="ml-3 visa_text">Tours</p>
                <div class="general_details">
                    <div class="general_details_body">
                        <div>
                            <ion-item>
                                <ion-label position="floating">Tour Basis</ion-label>
                                <ion-select formControlName="tour_basis">
                                    <ion-select-option value="Private">Private</ion-select-option>
                                    <ion-select-option value="Sharing">Sharing</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="submitted && f.tour_basis.errors" class="invalid-feedback">
                                <div *ngIf="f.tour_basis.errors.required">Select Tour Basis</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Language Preference</ion-label>
                                <ion-select formControlName="language">
                                    <ion-select-option [value]="lan" *ngFor="let lan of languages">{{lan}}</ion-select-option>
                                </ion-select>
                              
                            </ion-item>
                            <div *ngIf="submitted && f.language.errors" class="invalid-feedback">
                                <div *ngIf="f.language.errors.required">Language Required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Duration Preference</ion-label>
                                <ion-input type="text" formControlName="duration"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                                <div *ngIf="f.duration.errors.required">Duration is required</div>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Any Special Request </ion-label>
                                <ion-input type="text" formControlName="special_request"></ion-input>
                            </ion-item>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <p>Itinerary Pace</p>
                    </div>
                    <div class="general_details_body ">
                        <div class="relax_img">
                            <ion-img [src]="path"></ion-img>
                            <h2 class="text-center">{{status}}</h2>
                            <div class="status_bar">
                                <input type="range" class="gradient-range" value="0" min="0" max="10" formControlName="itinerary_pace" (input)="changeStatus($event)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="next_btn" *ngIf="formUrl.length">
                <button type="submit" (click)="nextForm(tourForm.value)">Next<i class="fas fa-arrow-right"></i></button>
            </div>
            <div class="submit_btn" *ngIf="!formUrl.length">
                <button type="submit" routerLink='/home/home-page'><i class="fas fa-save"></i>Submit</button>
            </div>
        </form>
    </div>
</ion-content>