.image_folder_detail {
    padding: 18px;
    border-radius: 9px;
    margin-bottom: 10px;
    align-items: center;
    @media(max-height: 812px) {
        padding: 13px;
    }
    @media(max-height: 750px) {
        padding: 8px;
    }
    @media(max-height: 600px) {
        padding: 6px;
    }
    a,
    p {
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        color: #000;
        display: inline-block;
        margin-top: 8px;
    }
    .image_detail {
        height: 70px;
        width: 100%;
        ion-img {
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }
}
.main-image-view{
    margin-left: -5px !important;
    margin-right: -5px !important;
    .image-view{
        img{
            height: 115px;
            width: 100%;
            object-fit: fill;
            padding: 5px 5px !important;
            border-radius: 7px;
        }
    }
    i{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 11111;
        color: black;
        opacity: 0;
    }
}

​ .remove_image {
    height: 20px;
    margin-top: 10px;
}
.file-view{
    img{
        height: 93px;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    p{
        background: white;
        // width: 91.60%;
        margin-left: 5px;
        margin-top: -8px;
        padding: 0px 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}