<div class="card mb-2" *ngFor="let img of allImages">
    <div class="row image_folder_detail">
        <div class="col-4">
            <div *ngIf="img.image_extension == 'png' || img.image_extension == 'jpg' || img.image_extension == 'jpeg'">
                <div class="image_detail">
                    <ion-img [src]="img.image_url || '../../../assets/images/placeholder.png'" (click)="previewImage(img.image_url)"></ion-img>
                </div>
            </div>
            <div *ngIf="img.image_extension != 'png' && img.image_extension != 'jpg' && img.image_extension != 'jpeg'">
                <div (click)="previewDocument(img.image_url)" class="image_detail">
                    <ion-img src="../../assets/images/docs2.png"></ion-img>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div *ngIf="img.image_extension == 'png' || img.image_extension == 'jpg' || img.image_extension == 'jpeg'">
                <p>{{img.image_name}}</p>
            </div>
            <div *ngIf="img.image_extension != 'png' && img.image_extension != 'jpg' && img.image_extension != 'jpeg'">
                <a href="{{img.image_url}}">{{img.image_name}}</a>
            </div>
        </div>
        <div class="col-2">
            <ion-img src="../../assets/images/remove.png" class="remove_image" (click)=removeImage(img)></ion-img>
        </div>
    </div>
</div>
​
<div *ngIf="loading">
    <div id="loader-wrapper">
        <div class="heartbeatloader">
            <ion-img class="svgdraw" src="../../assets/images/loader.gif"></ion-img>
        </div>
    </div>