<ion-header>
  <app-header [cname]="'Travelling Zones'"></app-header>
</ion-header>
<ion-content>
  <div class="all_content">

    <article class="page-content mt-3" id="demo-page-continents">
      <!-- SECTION DEMO -->
      <section id="section-demo">
        <!-- MAP -->
        <div id="display-map" class="display-demo-map">
          <!-- CSSMap - Continents -->
          <div id="map-continents">
            <ul class="continents">
              <li class="c1" data-interest="Africa"><a href="#africa">Africa</a></li>
              <li class="c2" data-interest="Asia"><a href="#asia">Asia</a></li>
              <li class="c3" data-interest="Australia"><a href="#australia">Australia</a></li>
              <li class="c4" data-interest="Europe"><a href="#europe">Europe</a></li>
              <li class="c5" data-interest="North America"><a href="#north-america">North America</a></li>
              <li class="c6" data-interest="South America"><a href="#south-america">South America</a></li>
            </ul>
          </div>
        </div>
      </section>
    </article>
    <div *ngIf="continentsList.length">
      <div *ngFor="let continent of continentsList" class="mt-5">
        <div class="place-section ">
          <div>
            <img src='assets/images/location.png'>
          </div>
          <div>
            <p>
              Intersting places in <br>
              <span>{{continent.name}}</span>
            </p>
          </div>
        </div>
        <div>
          <div class="center">
            <div *ngFor="let img of continent.images;let i=index" class="center-slide">
              <span data-id="{{img.name}}"></span>
              <div style="position: relative;">
                <img [src]="img.url">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="passport_slider">
        <div class="passport_slide" style="width: unset !important;">
          <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687">
        </div>
        <div class="passport_slide" style="width: unset !important;">
          <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
        </div>
        <div class="passport_slide" style="width: unset !important;">
          <img src="assets/images/download.jpeg">
        </div>
        <div class="passport_slide" style="width: unset !important;">
          <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687">
        </div>
        <div class="passport_slide" style="width: unset !important;">
          <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
        </div>
        <div class="passport_slide" style="width: unset !important;">
          <img src="assets/images/download.jpeg">
        </div>
    </div> -->

    <!-- <div class="ionic-slider">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="assets/images/download.jpeg">
        </ion-slide>
        <ion-slide>
          <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
        </ion-slide>
        <ion-slide>
          <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687">
        </ion-slide>
        <ion-slide>
          <img src="assets/images/download.jpeg">
        </ion-slide>
        <ion-slide>
          <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
        </ion-slide>
        <ion-slide>
          <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687">
        </ion-slide>
      </ion-slides>
    </div> -->
    <!-- <div class="center">
      <div class="center-slide">
          <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687" alt="offer">
      </div>
      <div class="center-slide">
          <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="product1">
      </div>
      <div class="center-slide">
          <img src="assets/images/download.jpeg" alt="product2">
      </div>
      <div class="center-slide">
          <img src="assets/images/e.png" alt="product3">
      </div>
      <div class="center-slide">
          <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687" alt="offer">
      </div>
      <div class="center-slide">
          <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="product1">
      </div>
  </div> -->
    <div class="next_btn" (click)="nextForm()">
      <button>Submit</button>
    </div>
  </div>

  <div *ngIf="loading">
    <div id="loader-wrapper">
        <div class="heartbeatloader">
            <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
        </div>
    </div>
</div>
</ion-content>