<ion-header>
    <app-header [cname]="'Air Tickets'"></app-header>
</ion-header>

<ion-content>
    <div class="all_content">
        <form [formGroup]="airTickitForm">
            <div class="services_detail">
                <p class="ml-3 visa_text">Air Tickets</p>
                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/passanger.png">
                        <p>Passengers</p>
                    </div>
                    <div class="general_details_body">
                        <div class="passengers-details">
                            <div class="plist">Infants (2 Years)</div>
                            <div class="icon-button">
                                <div class="icons">
                                    <i class="fa fa-minus" aria-hidden="true" (click)="decrement('infants')"></i>
                                    <span>
                                        <ion-input type="number" formControlName="infants_passenger"
                                            [(ngModel)]="infantsPassenger" min='0'></ion-input>
                                    </span>
                                    <i class="fa fa-plus" aria-hidden="true" (click)="increment('infants')"></i>
                                </div>
                            </div>
                        </div>
                        <div class="passengers-details">
                            <div class="plist">Children (2 to 11 Years)</div>
                            <div class="icon-button">
                                <div class="icons">
                                    <i class="fa fa-minus" aria-hidden="true" (click)="decrement('children')"></i>
                                    <span>
                                        <ion-input type="number" formControlName="children_passenger"
                                            [(ngModel)]="childrenPassenger" min='0'></ion-input>
                                    </span>
                                    <i class="fa fa-plus" aria-hidden="true" (click)="increment('children')"></i>
                                </div>
                            </div>
                        </div>
                        <div class="passengers-details">
                            <div class="plist">Adults (11 to 65 Years)</div>
                            <div class="icon-button">
                                <div class="icons">
                                    <i class="fa fa-minus" aria-hidden="true" (click)="decrement('adults')"></i>
                                    <span>
                                        <ion-input type="number" formControlName="adults_passenger"
                                            [(ngModel)]="adultsPassenger" min='0'></ion-input>
                                    </span>
                                    <i class="fa fa-plus" aria-hidden="true" (click)="increment('adults')"></i>
                                </div>
                            </div>
                        </div>
                        <div class="passengers-details">
                            <div class="plist">Senior Citizens (Above 65 Years)</div>
                            <div class="icon-button">
                                <div class="icons">
                                    <i class="fa fa-minus" aria-hidden="true" (click)="decrement('senior')"></i>
                                    <span>
                                        <ion-input type="number" formControlName="senior_passenger"
                                            [(ngModel)]="seniorPassenger" min='0'></ion-input>
                                    </span>
                                    <i class="fa fa-plus" aria-hidden="true" (click)="increment('senior')"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-center pl-4">
                            <img src="assets/images/infants.png" style="height: 35px;">
                            <p>{{infantsPassenger}}</p>
                        </div>
                        <div class="col-3 text-center">
                            <img src="assets/images/children.svg" style="height: 46px;margin-top:-4px;">
                            <p style="margin-top: -7px;">{{childrenPassenger}}</p>
                        </div>
                        <div class="col-3 text-center">
                            <img src="assets/images/adults.png" style="height: 33px;margin-top: 4px;">
                            <p>{{adultsPassenger}}</p>
                        </div>
                        <div class="col-3 text-center">
                            <img src="assets/images/seniorcityzens.png" style="height: 33px;
                            margin-top: 2px;">
                            <p>{{seniorPassenger}}</p>
                        </div>

                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/jounry.png">
                        <p>Journey Type</p>
                    </div>
                    <div class="general_details_body">
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Journey1" formControlName="journey_type"
                                    value="Round Trip">
                                <label for="Journey1">Round Trip</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Journey2" value="One Way"
                                    formControlName="journey_type">
                                <label for="Journey2">One Way</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Journey3" value="Multi City"
                                    formControlName="journey_type">
                                <label for="Journey3">Multi City</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/flight-tire.png">
                        <p>Flight Tier Prefernece</p>
                    </div>
                    <div class="general_details_body">

                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectTier($event)" value="Economys">
                            </ion-checkbox>
                            <ion-label class="ml-3">Economys</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectTier($event)" value="Business Class">
                            </ion-checkbox>
                            <ion-label class="ml-3">Business Class</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectTier($event)" value="First Class">
                            </ion-checkbox>
                            <ion-label class="ml-3">First Class</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectTier($event)" value="Premium Economy">
                            </ion-checkbox>
                            <ion-label class="ml-3">Premium Economy</ion-label>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/flight-tire.png">
                        <p>Flight Seat Preference</p>
                        <a class="toggle-section collapsed collapsed" data-toggle="collapse" data-target="#flight-seat"
                            aria-expanded="false" aria-controls="flight-seat"> <i class="fa" aria-hidden="true"></i></a>
                    </div>
                    <div class="collapse multi-collapse mb-2" id="flight-seat">
                        <div class="card card-body">
                            The Seat preference might be chargeable by the airline and will be notified prior to
                            confirming the ticket.
                        </div>
                    </div>
                    <div class="general_details_body">
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Flight1" value="Aisle"
                                    formControlName="flightSeat_preferences" (change)="selectVisaType($event)">
                                <label for="Flight1">Aisle</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Flight2" value="Middle"
                                    formControlName="flightSeat_preferences" (change)="selectVisaType($event)">
                                <label for="Flight2">Middle</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Flight3" value="Window"
                                    formControlName="flightSeat_preferences" (change)="selectVisaType($event)">
                                <label for="Flight3">Window</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Flight4" value="Legroom Seats"
                                    formControlName="flightSeat_preferences" (change)="selectVisaType($event)">
                                <label for="Flight4">Legroom Seats</label>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Other</ion-label>
                                <ion-input type="text" (ionInput)="changeInputValue($event)" id="other-input">
                                </ion-input>
                            </ion-item>
                        </div>
                        <div *ngIf="submitted && f.flightSeat_preferences.errors" class="invalid-feedback">
                            <div *ngIf="f.flightSeat_preferences.errors.required">Choose one Flight Seat Preference
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/flight-meal.png">
                        <p>In-Flight Meal</p>
                    </div>
                    <div class="general_details_body">
                        <div>
                            <ion-item>
                                <ion-label position="floating">Meal</ion-label>
                                <ion-select formControlName="in_flight_meal" multiple="true">
                                    <ion-select-option value="Veg Hindu Meal">Veg Hindu Meal</ion-select-option>
                                    <ion-select-option value="Veg Vegan">Veg Vegan</ion-select-option>
                                    <ion-select-option value="Veg Jain">Veg Jain</ion-select-option>
                                    <ion-select-option value="Veg Lacto-ovo meal">Veg Lacto-ovo meal
                                    </ion-select-option>
                                    <ion-select-option value="Veg Oriental">Veg Oriental</ion-select-option>
                                    <ion-select-option value="Infant Meal">Infant Meal</ion-select-option>
                                    <ion-select-option value="Child Meal">Child Meal</ion-select-option>
                                    <ion-select-option value="Diabetic meal">Diabetic meal</ion-select-option>
                                    <ion-select-option value="Fruit Platter">Fruit Platter</ion-select-option>
                                    <ion-select-option value="Gluten Intolerant Meal">Gluten Intolerant Meal
                                    </ion-select-option>
                                    <ion-select-option value="Kosher Meal">Kosher Meal</ion-select-option>
                                    <ion-select-option value="Hindu Non-veg">Hindu Non-veg</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="submitted && f.in_flight_meal.errors" class="invalid-feedback">
                                <div *ngIf="f.in_flight_meal.errors.required">Select Flight Meal</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/jounry.png">
                        <p>Airline Preference</p>
                    </div>
                    <div class="general_details_body">
                        <div>
                            <ion-item>
                                <ion-label position="floating">Airline Preference</ion-label>
                                <ion-input type="text" formControlName="airline_preference"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.airline_preference.errors" class="invalid-feedback">
                                <div *ngIf="f.airline_preference.errors.required">Airline Preference is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="general_details colapse-icon">
                    <div class="general_details_header">
                        <img src="assets/images/flight-tire.png">
                        <p>Seat Belt Extender</p>
                        <a class="toggle-section collapsed collapsed" data-toggle="collapse" data-target="#seat-belt"
                            aria-expanded="false" aria-controls="seat-belt"> <i class="fa" aria-hidden="true"></i></a>
                    </div>
                    <div class="collapse multi-collapse mb-2" id="seat-belt">
                        <div class="card card-body">
                            This option is requested to the airline by us but the confirmation can’t be given & you can
                            always ask for one onboard without any pre-requests.
                        </div>
                    </div>

                    <div class="general_details_body">
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="seatbelt1" formControlName="seat_belt_extender"
                                    value="Yes">
                                <label for="seatbelt1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="seatbelt2" formControlName="seat_belt_extender"
                                    value="No">
                                <label for="seatbelt2">No</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/wheelchair.png">
                        <p>Wheel Chair Assistance</p>
                    </div>
                    <div class="general_details_body">

                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Wheelchair1"
                                    formControlName="wheelChair_assistance" value="Yes">
                                <label for="Wheelchair1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Wheelchair2"
                                    formControlName="wheelChair_assistance" value="No">
                                <label for="Wheelchair2">No</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general_details" *ngIf="isSelected == 'true'">
                    <div class="general_details_header">
                        <p>Number of Quotes</p>
                    </div>
                    <div class="general_details_body">
                        <div>
                            <ion-item>
                                <ion-label position="floating">Other</ion-label>
                                <ion-input type="text"></ion-input>
                            </ion-item>
                        </div>
                    </div>
                </div>

            </div>
            <div class="next_btn" *ngIf="formUrl.length">
                <button type="submit" (click)="nextForm(airTickitForm.value)">Next<i
                        class="fas fa-arrow-right"></i></button>
            </div>
        </form>
    </div>
</ion-content>