<ion-content>
    <div class="trip_content">
        <div class="header_sec">
            <div class="w-100 d-inline-block mt-3 menu-icon">
                <i class="fa fa-angle-left back_icon_white" (click)="goBack()"></i>
                <ion-menu-button class="float-right"></ion-menu-button>
            </div>
            <div class="header_text">
                <img src="assets/images/travel.png">
                <div class="text">
                    <h3>Past Trips </h3>
                    <p>Details Of Trips Taken </p>
                </div>
            </div>
        </div>
        <div>
            <div class="past_trip_content" *ngIf="pastTrips.length">
                <div class="card" *ngFor="let trip of pastTrips">
                    <div class="row">
                        <div class="col-9">
                            <div class="left-image">
                                <img src="assets/images/past1.png" *ngIf="!trip.image">
                                <img [src]="trip.image" onError="src = 'assets/images/placeholder.png'" *ngIf="trip.image">
                            </div>
                            <div class="text-content">
                                <img src="assets/images/t_icon.png">
                                <div class="main-text">
                                    <small>Trip Taken For</small>
                                    <p>{{trip.inquiry_name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 pl-0">
                            <div class="right-sec">
                                <i class="far fa-calendar"></i>
                                <div class="date-title">
                                    <small>Date</small>
                                    <p>{{trip.date |date:'dd MMM'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="loading">
            <div id="loader-wrapper">
                <div class="heartbeatloader">
                    <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
                </div>
            </div>
        </div>
        <div *ngIf="!loading && !pastTrips.length" class="no-trips">
            <span>No Trip Found</span>
        </div>
    </div>

</ion-content>