<ion-header>
  <app-header [cname]="'Destination Finder'"></app-header>
</ion-header>
<ion-content>
  <div class="all_content">
    <div>
      <h5 class="text-white mb-3 ml-2">Popularity Of Destination </h5>
      <div>
        <div class="center">
          <div *ngFor="let img of popularityOption ;let i =index" class="center-slide">
            <p>{{img.name}}</p>
            <div style="position: relative;">
              <div class="like-icon" (click)="selectPopularityOption(img)">
                <i [class]="selectPopularityIcon"></i>
              </div>
              <img [src]="img.url">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h5 class="text-white mb-3 ml-2">Additional Travel Experience </h5>
      <div>
        <div class="center1">
          <div *ngFor="let img of travelOption ;let i =index" class="center-slide">
            <p>{{img.name}}</p>
            <div style="position: relative;">
              <div class="like-icon" (click)="selectTravelOption(img)">
                <i [class]="selectTravelIcon"></i>
              </div>
              <img [src]="img.url">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="mt-5">
      <h5 class="text-white mb-3 ml-2">Interests</h5>
      <div>
        <div class="center">
          <div *ngFor="let img of intrestOption ;let i =index" class="center-slide">
            <p>{{img.name}}</p>
            <div style="position: relative;">
              <div class="like-icon" (click)="selectInterestOption(img)">
                <i [class]="selectIntrestIcon"></i>
              </div>
              <img [src]="img.url">
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="next_btn" (click)="nextForm()">
      <button>Next <i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
</ion-content>