<ion-header>
    <app-header [cname]="'New Passport'"></app-header>
</ion-header>
<ion-content>
    <div class="all_content">
        <form [formGroup]='passportInquiryForm'>
            <div class="services_detail">
                <div class="general_details">
                    <div class="general_details_header">
                        <p>Passport Inquiry</p>
                    </div>
                    <div class="general_details_body">

                        <div class="general_details_body">
                            <div class="row">
                                <div class="col-12">
                                    <input type="radio" class="mr-2" id="seatbelt1"
                                        formControlName="passport_inquiry_type" value="New Passport">
                                    <label for="seatbelt1">New Passport</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">

                                    <input type="radio" class="mr-2" id="seatbelt2"
                                        formControlName="passport_inquiry_type" value="Renew Passport">
                                    <label for="seatbelt2">Renew Passport</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next_btn">
                        <button type="submit" (click)="nextForm(passportInquiryForm.value)"><span
                                *ngIf="formUrl.length">Next</span><span *ngIf="!formUrl.length">Submit</span><i
                                class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>