<ion-header>
    <app-header [cname]="'Safe to Travel'"></app-header>
</ion-header>

<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class="benefits_content" *ngIf="safeToTravelRes.length">
        <div *ngFor="let travelres of safeToTravelRes">
            <div class="row country_name" (click)="getDetails(travelres)" *ngIf="travelres.safe_to_travel">
                <div class="col-5">
                    <p>{{travelres.safe_to_travel}}</p>
                </div>
                <div class="col-5">
                    <p *ngIf="travelres.safe_to_response" >Answered</p>
                    <p *ngIf="!travelres.safe_to_response" class="text-danger">Pending</p>
                </div>
                <div class="col-2">
                    <img src="assets/images/location.png">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loading && !safeToTravelRes.length">
        <span class="text-white text-center no-request">Click the below button to request
            for Safe to Travel</span>
    </div>
    <div class="add_button">
        <a href="javascript:void(0);" routerLink='/home/safe-to-travel'>
            <img src="assets/images/plus.png">
        </a>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>

    <div class="success_alert_box1" style="display: none;">
        <div class="alert_box_content">
            <div class="alert_box_text">
                <div class="alert_box_image">
                    <img src="assets/images/safetravel.png" alt="image icon">
                </div>
                <p>
                    We are working,<br>
                    will revert soon !!
                </p>
            </div>
        </div>
    </div>
</ion-content>