<ion-header>
    <app-header [cname]="'Safe to Travel'"></app-header>
</ion-header>

<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class="benefits_content" *ngIf="safeToTravelRes.length">
        <div *ngFor="let travelres of safeToTravelRes">
            <div class="country_name" (click)="getDetails(travelres)" *ngIf="travelres.safe_to_travel">
                <p class="des-title">{{travelres.safe_to_travel}}</p>

                <p *ngIf="travelres.safe_to_response" class="des-status mt-2">Answered</p>
                <p *ngIf="!travelres.safe_to_response" class="des-status mt-2">Pending</p>

                <i *ngIf="!travelres.safe_to_response" class="fa fa-ellipsis-h status-icon"></i>
                <img class="status-icon" *ngIf="travelres.safe_to_response" src="assets/images/success.png">
            </div>
        </div>
    </div>
    <div *ngIf="!loading && !safeToTravelRes.length">
        <!-- <span class="text-white text-center no-request">Click the below button to request
            for Safe to Travel</span> -->
        <span class="text-white no-request">
            A Highly Recommended service that curates the safety of the destination in a personalized report with the
            vital safety protocols & laws to be followed. Personalizing the whole concept with consulting with the local
            Tourism Authorities & Travel Professionals sparing you from the perils of voyaging in the new world!
        </span>
    </div>
    <div class="add_button">
        <a href="javascript:void(0);" routerLink='/home/safe-to-travel'>
            <img src="assets/images/plus.png">
        </a>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>

    <div class="success_alert_box1" style="display: none;">
        <div class="alert_box_content">
            <div class="alert_box_text">
                <div class="alert_box_image">
                    <img src="assets/images/safetravel.png" alt="image icon">
                </div>
                <p>
                    We are working,<br>
                    will revert soon !!
                </p>
            </div>
        </div>
    </div>
</ion-content>