$purple: #0575E6;
$blue: #021B79;
$green: #2FE57C;
// content css start here
.benefits_content {
    padding: 0px 10px 10px 10px;
    z-index: 11;
    position: relative;
}

.country_name {
    margin-bottom: 8px;
    background-color: #fff;
    // display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 10px 17px 19px;
    border-radius: 10px;
    // padding: 2px 18px;
    @media(max-height: 750px) {
        margin-bottom: 5px;
    }
    @media(max-height: 600px) {
        margin-bottom: 2px;
    }
    .status-icon {
        height: 15px;
        width: 15px;
        position: absolute;
        right: 10px;
        bottom: 6px;
        color: #7f8dab;
    }
    .fa-ellipsis-h{
        bottom: 3px;
    }
    // p {
    //     color: #434A5E;
    //     font-size: 16px;
    //     font-weight: 600;
    //     line-height: 52px;
    //     // margin-left: 10px;
    //     text-transform: capitalize;
    // }
    .des-title {
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
    }
    .des-status {
        font-size: 14px;
        color: #434A5E;
    }
}

.no-request {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}

ion-refresher-content {
    background-color: #0575E6;
    --color: white !important;
}


*{
    box-sizing: border-box;
}
.success_alert_box1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    -ms-flex-align: center;
    display: flex;
    overflow: hidden;
    z-index: 9999;
}
.alert_box_content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 280px;
    position: relative;
    margin: auto;
    display: table;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.4s;
    top: 100%;
}

.animate .alert_box_content{
    top: 0;
}
.alert_box_image img {
    height: 60px;
    width: 60px;
}



.alert_box_text p {
    margin: 15px;
    color: #7F8DAB;
    font-size: 18px;
    line-height: 24px;
}
.alert_box_text p span {
    text-transform: uppercase;
}

.row{
    margin-right: unset !important; 
    margin-left: unset !important;
}