<ion-header>
    <app-header [cname]="'Accomodation'"></app-header>
</ion-header>

<ion-content>
    <div class="all_content">
        <form [formGroup]="accomodationForm">
            <div class="services_detail">
                <p class="ml-3 visa_text">Accomodation</p>
                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/rental.png">
                        <p>Accomodation Type</p>
                    </div>
                    <div class="general_details_body">
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectAccommodationType($event)"
                                value="Luxury Hotels"> </ion-checkbox>
                            <ion-label class="ml-3">Luxury Hotels</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectAccommodationType($event)"
                                value="Resorts & Spa"> </ion-checkbox>
                            <ion-label class="ml-3">Resorts & Spa</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectAccommodationType($event)"
                                value="Service Apartments"> </ion-checkbox>
                            <ion-label class="ml-3">Service Apartments</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectAccommodationType($event)"
                                value="Boutique Hotels"> </ion-checkbox>
                            <ion-label class="ml-3">Boutique Hotels</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectAccommodationType($event)"
                                value="Business Hotels"> </ion-checkbox>
                            <ion-label class="ml-3">Business Hotels</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectAccommodationType($event)"
                                value="Ocean Cruises"> </ion-checkbox>
                            <ion-label class="ml-3">Ocean Cruises</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectAccommodationType($event)"
                                value="Location Specific Accommodation"> </ion-checkbox>
                            <ion-label class="ml-3">Location Specific Accommodation</ion-label>
                        </div>
                        <ion-item *ngIf="acomodationArray.includes('Location Specific Accommodation')">
                            <ion-label position="floating">Any Special Requirement</ion-label>
                            <ion-input type="text" formControlName="location_specific_accommodation_detail">
                            </ion-input>
                        </ion-item>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectAccommodationType($event)"
                                value="Amenities Specific Accommodation"> </ion-checkbox>
                            <ion-label class="ml-3">Amenities Specific Accommodation</ion-label>
                        </div>
                        <ion-item *ngIf="acomodationArray.includes('Amenities Specific Accommodation')">
                            <ion-label position="floating">Any Special Requirement</ion-label>
                            <ion-input type="text" formControlName="amenities_specific_accommodation_detail">
                            </ion-input>
                        </ion-item>
                    </div>
                </div>
                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/rental.png">
                        <p>Room Category Preference</p>
                    </div>
                    <div class="general_details_body">
                        <div>
                            <div class="category-slider">
                                <!-- <ion-item> -->
                                <ion-slides class="mt-2">
                                    <ion-slide *ngFor="let category of roomCategory;let i=index;">
                                        <span class="category-label">{{category.name}}</span>
                                        <img src="{{category.url}}" [ngStyle]="{'margin-top':i==1?'45px':''}">
                                        <div class="like-icon active-{{i}}"
                                            (click)="selectRoomCategory(category,i)">
                                            <i class="fas fa-star" *ngIf="category.isSelectIcon"></i>
                                            <i class="far fa-star" *ngIf="!category.isSelectIcon"></i>
                                        </div>
                                    </ion-slide>
                                </ion-slides>
                                <!-- <ion-select formControlName="room_category_preference">
                                        <ion-select-option value="Basic (Standard) Room">Basic (Standard) Room
                                        </ion-select-option>
                                        <ion-select-option value="Room With a View(Beach,City,Valley,Garden,Pool)">Room
                                            With a View(Beach,City,Valley,Garden,Pool)</ion-select-option>
                                        <ion-select-option value="Suit">Suit</ion-select-option>
                                        <ion-select-option value="Villa">Villa</ion-select-option>
                                        <ion-select-option value="Cottages">Cottages</ion-select-option>
                                        <ion-select-option value="Balcony">Balcony</ion-select-option>
                                        <ion-select-option value="Penthouse">Penthouse</ion-select-option>
                                    </ion-select> -->
                                <!-- </ion-item> -->
                            </div>
                            <div *ngIf="submitted && f.room_category_preference.errors" class="invalid-feedback">
                                <div *ngIf="f.room_category_preference.errors.required">Select Accomodation Type</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="general_details">
                    <div class="general_details_body">

                        <!-- <div class="row"> -->
                        <div class="smoke-icon mt-2">
                            <p>Smoking Room</p>
                            <img src="assets/images/smok.png">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Smoking1" formControlName="smoking_room"
                                    value="Yes">
                                <label for="Smoking1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Smoking2" formControlName="smoking_room"
                                    value="No">
                                <label for="Smoking2">No</label>
                            </div>
                        </div>
                        <div class="smoke-icon">
                            <p>Wheelchair Accessible</p>
                            <img src="assets/images/wheelchair1.png">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Accessible1"
                                    formControlName="wheelchair_accessible" value="Yes">
                                <label for="Accessible1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Accessible2"
                                    formControlName="wheelchair_accessible" value="No">
                                <label for="Accessible2">No</label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/flight-meal.png">
                        <p>Meal Plans</p>
                    </div>
                    <div class="general_details_body">
                        <div class="row">
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Plans1" formControlName="meal_plan"
                                    value="Only Breakfast">
                                <label for="Plans1">Only Breakfast</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Plans2" formControlName="meal_plan"
                                    value="All Meals">
                                <label for="Plans2">All Meals</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Plans3" formControlName="meal_plan"
                                    value="Breakfast & 1 Major Meal">
                                <label for="Plans3">Breakfast & 1 Major Meal</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/culinary.png">
                        <p>Culinary Preferrence</p>
                    </div>
                    <div class="general_details_body">
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectCulinary($event)" value="Vegetarian">
                            </ion-checkbox>
                            <ion-label class="ml-3">Vegetarian</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectCulinary($event)" value="Vegan">
                            </ion-checkbox>
                            <ion-label class="ml-3">Vegan</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectCulinary($event)"
                                value="Gluten & Lactose Free"> </ion-checkbox>
                            <ion-label class="ml-3">Gluten & Lactose Free</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectCulinary($event)" value="Low Calorie Meal">
                            </ion-checkbox>
                            <ion-label class="ml-3">Low Calorie Meal</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectCulinary($event)" value="Non Veg">
                            </ion-checkbox>
                            <ion-label class="ml-3">Non Veg</ion-label>
                        </div>
                        <div class="select_plan_check">
                            <ion-checkbox checked="false" (ionChange)="selectCulinary($event)"
                                value="Jain ( Only where available )"> </ion-checkbox>
                            <ion-label class="ml-3">Jain ( Only where available )</ion-label>
                        </div>


                        <ion-item>
                            <ion-label position="floating">Any Special Requirement</ion-label>
                            <ion-input type="text" formControlName="culinary_special_request"></ion-input>
                        </ion-item>
                    </div>
                </div>

                <div class="general_details" formArrayName="rooms"
                    *ngFor="let room of accomodationForm.controls.rooms?.value; let i = index">
                    <div>
                        <div class="general_details_header w-100 d-inline-block">
                            <p class="float-left">Room - {{i + 1}}</p>
                            <i class="fas fa-minus-circle float-right" (click)="deleteRoom(i)"></i>
                        </div>

                        <div class="general_details_body">
                            <div class="passengers-details">
                                <div class="plist">Infants (2 Years)</div>
                                <p></p>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('infants',i)"></i>
                                        <span>{{room.infants}}</span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('infants',i)"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="passengers-details">
                                <div class="plist">Children (2 to 11 Years)</div>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('children',i)"></i>
                                        <span>{{room.children}}</span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('children',i)"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="passengers-details">
                                <div class="plist">Adults (11 to 65 years)</div>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('adults',i)"></i>
                                        <span>{{room.adults}}</span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('adults',i)"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="passengers-details">
                                <div class="plist">Extra Bed</div>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('bed',i)"></i>
                                        <span>{{room.extra_bed}}</span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('bed',i)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-center pl-4">
                                <img src="assets/images/infants.png" style="height: 35px;">
                                <p>{{room.infants}}</p>
                            </div>
                            <div class="col-3 text-center">
                                <img src="assets/images/children.svg" style="height: 46px;margin-top:-4px;">
                                <p style="margin-top: -7px;">{{room.children}}</p>
                            </div>
                            <div class="col-3 text-center">
                                <img src="assets/images/adults.png" style="height: 33px;margin-top: 4px;">
                                <p>{{room.adults}}</p>
                            </div>
                            <div class="col-3 text-center">
                                <img src="assets/images/buildings.png" style="height: 33px;margin-top: 4px;">
                                <p>{{room.extra_bed}}</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="add_room_btn text-center">
                    <button type="submit"><span (click)="addRoom()">
                            <!-- <i class="fas fa-plus-circle"></i> -->
                            Add Room</span>
                        <a class="toggle-section collapsed collapsed" data-toggle="collapse" data-target="#add-room"
                            aria-expanded="false" aria-controls="add-room"> <i class="fa float-right"
                                aria-hidden="true"></i></a>
                    </button>
                    <div class="collapse multi-collapse mb-2 mt-2" id="add-room">
                        <div class="card card-body">
                            This Button serves the purpose of room occupancy preference for your accommodation
                            throughout the travel & will be honoured with utmost flexibility possible depending upon
                            availability in the establishment.
                        </div>
                    </div>
                </div>
                <div *ngIf="submitted && f.rooms.errors" class="invalid-feedback">
                    <div *ngIf="f.rooms.errors.required">Room is required</div>
                </div>

            </div>
            <div class="next_btn" *ngIf="formUrl.length">
                <button type="submit" (click)="nextForm(accomodationForm.value)">Next<i
                        class="fas fa-arrow-right"></i></button>
            </div>
            <div class="submit_btn" *ngIf="!formUrl.length">
                <button type="submit" routerLink="/home/home-page"><i class="fas fa-save"></i>Submit</button>
            </div>
        </form>
    </div>
</ion-content>