<ion-header>
    <app-header [cname]="'Accomodation'"></app-header>
</ion-header>

<ion-content>
    <div class="all_content">
        <form [formGroup]="accomodationForm">
            <div class="services_detail">
                <p class="ml-3 visa_text">Accomodation</p>
                <div class="general_details">
                    <div class="general_details_body">
                        <div>
                            <ion-item>
                                <ion-label position="floating">Accomodation Type</ion-label>
                                <ion-select formControlName="accomodation_type">
                                    <ion-select-option value="Hotels">Hotels</ion-select-option>
                                    <ion-select-option value="Guesthouses">Guesthouses</ion-select-option>
                                    <ion-select-option value="Apartments">Apartments</ion-select-option>
                                    <ion-select-option value="Resorts">Resorts</ion-select-option>
                                    <ion-select-option value="Ski Chalets">Ski Chalets</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="submitted && f.accomodation_type.errors" class="invalid-feedback">
                                <div *ngIf="f.accomodation_type.errors.required">Select Accomodation Type</div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <ion-item>
                                    <ion-label position="floating">Room Category Preference</ion-label>
                                    <ion-select formControlName="room_category_preference">
                                        <ion-select-option value="Queen Room">Queen Room</ion-select-option>
                                        <ion-select-option value="Single Room">Single Room</ion-select-option>
                                        <ion-select-option value="Double Room">Double Room</ion-select-option>
                                        <ion-select-option value="Quad Room">Quad Room</ion-select-option>
                                        <ion-select-option value="King Room">King Room</ion-select-option>
                                        <ion-select-option value="Twin Room">Twin Room</ion-select-option>
                                        <ion-select-option value="Triple Room">Triple Room</ion-select-option>
                                        <ion-select-option value="Studio Room">Studio Room</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                            <div *ngIf="submitted && f.room_category_preference.errors" class="invalid-feedback">
                                <div *ngIf="f.room_category_preference.errors.required">Select Accomodation Type</div>
                            </div>
                        </div>
                        <!-- <div class="row"> -->
                        <div class="smoke-icon">
                            <p>Smoking Room</p>
                            <img src="assets/images/smok.png">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Smoking1" formControlName="smoking_room"
                                    value="Yes">
                                <label for="Smoking1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Smoking2" formControlName="smoking_room" value="No">
                                <label for="Smoking2">No</label>
                            </div>
                        </div>
                        <div class="smoke-icon">
                            <p>Wheelchair Accessible</p>
                            <img src="assets/images/wheelchair1.png">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Accessible1" formControlName="wheelchair_accessible"
                                    value="Yes">
                                <label for="Accessible1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Accessible2" formControlName="wheelchair_accessible"
                                    value="No">
                                <label for="Accessible2">No</label>
                            </div>
                        </div>
                        <!-- </div> -->
                        <div>
                            <ion-item>
                                <ion-label position="floating">Any Special Requirement</ion-label>
                                <ion-input type="text" formControlName="special_request"></ion-input>
                            </ion-item>
                            <!-- <div *ngIf="submitted && f.specialRequest.errors" class="invalid-feedback">
                                <div *ngIf="f.specialRequest.errors.required">Please Enter Any Special Request</div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/flight-meal.png">
                        <p>Meal Plans</p>
                    </div>
                    <div class="general_details_body">
                        <div class="row">
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Plans1" formControlName="meal_plan"
                                    value="CP ( Continental Plan ) - Only Breakfast">
                                <label for="Plans1">CP ( Continental Plan ) - Only Breakfast</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Plans2" formControlName="meal_plan"
                                    value="AP ( American Plan ) - All Meals">
                                <label for="Plans2">AP ( American Plan ) - All Meals</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Plans3" formControlName="meal_plan"
                                    value="MAP - Breakfast & 1 Major Meal">
                                <label for="Plans3">MAP - Breakfast & 1 Major Meal</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_header">
                        <img src="assets/images/culinary.png">
                        <p>Culinary Preferrence</p>
                    </div>
                    <div class="general_details_body">
                        <div class="row">
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Culinary1" formControlName="culinary_preferrence"
                                    value="Vegetarian">
                                <label for="Culinary1">Vegetarian</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Culinary2" formControlName="culinary_preferrence"
                                    value="Vegan">
                                <label for="Culinary2">Vegan</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Culinary3" formControlName="culinary_preferrence"
                                    value="Gluten & Lactose Free">
                                <label for="Culinary3">Gluten & Lactose Free</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Culinary4" formControlName="culinary_preferrence"
                                    value="Non Veg">
                                <label for="Culinary4">Non Veg</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Culinary5" formControlName="culinary_preferrence"
                                    value="Jain ( Only where available )">
                                <label for="Culinary5">Jain ( Only where available )</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Culinary6" formControlName="culinary_preferrence"
                                    value="Other">
                                <label for="Culinary6">Other</label>
                            </div>
                        </div>
                        <ion-item>
                            <ion-label position="floating">Any Special Requirement</ion-label>
                            <ion-input type="text" formControlName="culinary_special_request"></ion-input>
                        </ion-item>
                    </div>
                </div>

                <div class="general_details" formArrayName="rooms"
                    *ngFor="let room of accomodationForm.controls.rooms?.value; let i = index">
                    <div>
                        <div class="general_details_header w-100 d-inline-block">
                            <p class="float-left">Room - {{i + 1}}</p>
                            <i class="fas fa-minus-circle float-right" (click)="deleteRoom(i)"></i>
                        </div>
                       
                        <div class="general_details_body">
                            <div class="passengers-details">
                                <div class="plist">Infants</div>
                                <p></p>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('infants',i)"></i>
                                        <span>{{room.infants}}</span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('infants',i)"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="passengers-details">
                                <div class="plist">Children</div>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('children',i)"></i>
                                        <span>{{room.children}}</span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('children',i)"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="passengers-details">
                                <div class="plist">Adults</div>
                                <div class="icon-button">
                                    <div class="icons">
                                        <i class="fa fa-minus" aria-hidden="true" (click)="decrement('adults',i)"></i>
                                        <span>{{room.adults}}</span>
                                        <i class="fa fa-plus" aria-hidden="true" (click)="increment('adults',i)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-center pl-4">
                                <img src="assets/images/infants.png" style="height: 35px;">
                                <p>{{room.infants}}</p>
                            </div>
                            <div class="col-4 text-center">
                                <img src="assets/images/children.svg" style="height: 46px;margin-top:-4px;">
                                <p style="margin-top: -7px;">{{room.children}}</p>
                            </div>
                            <div class="col-4 text-center">
                                <img src="assets/images/adults.png" style="height: 33px;margin-top: 4px;">
                                <p>{{room.adults}}</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="add_room_btn text-center">
                    <button type="submit" (click)="addRoom()"><i class="fas fa-plus-circle"></i>Add Room</button>
                </div>
                <div *ngIf="submitted && f.rooms.errors" class="invalid-feedback">
                    <div *ngIf="f.rooms.errors.required">Room is required</div>
                </div>

            </div>
            <div class="next_btn" *ngIf="formUrl.length">
                <button type="submit" (click)="nextForm(accomodationForm.value)">Next<i
                        class="fas fa-arrow-right"></i></button>
            </div>
            <div class="submit_btn" *ngIf="!formUrl.length">
                <button type="submit" routerLink="/home/home-page"><i class="fas fa-save"></i>Submit</button>
            </div>
        </form>
    </div>
</ion-content>