<ion-header>
    <app-header [cname]="'New Visa'"></app-header>
</ion-header>

<ion-content>
    <div class="all_content">
        <form [formGroup]='visaForm'>
            <div class="services_detail">
                <p class="ml-3 visa_text">Visa</p>
                <div class="general_details">
                    <div class="general_details_body">
                        <p>Purpose of Travel</p>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Travel1" value="Tourism" formControlName="purpose_of_travel">
                                <label for="Travel1">Tourism</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Travel2" value="Business" [checked]="true" formControlName="purpose_of_travel">
                                <label for="Travel2">Business</label>
                            </div>
                            <div class="col-12">
                                <input type="radio" class="mr-2" id="Travel3" value="Family Reunion / Functions" formControlName="purpose_of_travel">
                                <label for="Travel3">Family Reunion / Functions</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_body">
                        <p>Type of Visa</p>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Visa1" formControlName="visa_type" value="Business" (change)="selectVisaType($event)">
                                <label for="Visa1">Business</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="Visa2" formControlName="visa_type" value="Student" (change)="selectVisaType($event)">
                                <label for="Visa2">Student</label>
                            </div>
                            <div class="col-12 ">
                                <input type="radio" class="mr-2" id="Visa3" formControlName="visa_type" value="tourist" (change)="selectVisaType($event)">
                                <label for="Visa3">Tourist</label>
                            </div>
                        </div>
                        <div>
                            <ion-item>
                                <ion-label position="floating">Other</ion-label>
                                <ion-input type="text" (ionChange)="changeInputValue($event)" id="other-input">
                                </ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.visa_type.errors" class="invalid-feedback">
                                <div *ngIf="f.visa_type.errors.required">Choose one Visa Type</div>
                            </div>
                        </div>

                        <p class="mt-2">Previous Rejections</p>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="rejections1" [(ngModel)]="previous_rejections" formControlName="previous_rejections" value="Yes">
                                <label for="rejections1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="rejections2" [(ngModel)]="previous_rejections" formControlName="previous_rejections" value="No">
                                <label for="rejections2">No</label>
                            </div>
                        </div>
                        <div *ngIf="previous_rejections == 'Yes'">
                            <ion-item>
                                <ion-label position="floating">Destination, Duration of Journey</ion-label>
                                <ion-input type="text" formControlName="previous_rejections_details"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.previous_rejections_details.errors" class="invalid-feedback">
                                <div *ngIf="f.previous_rejections_details.errors.required">Rejection Details is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general_details">
                    <div class="general_details_body">
                        <p>Previous International Travel</p>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="international1" [(ngModel)]="international_travel" formControlName="international_travel" value="Yes" checked>
                                <label for="international1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="international2" formControlName="international_travel" [(ngModel)]="international_travel" value="No">
                                <label for="international2">No</label>
                            </div>
                        </div>
                        <div *ngIf="international_travel == 'Yes'">
                            <ion-item>
                                <ion-input type="text" placeholder="France - 12 days, USA - 18 days." formControlName="international_travel_details"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.international_travel_details.errors" class="invalid-feedback">
                                <div *ngIf="f.international_travel_details.errors.required">Travel Details is required</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="general_details">
                    <div class="general_details_body">
                        <p>Sponsor Details</p>
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="sponsor1" [(ngModel)]="sponsor" formControlName="sponsor" value="Yes">
                                <label for="sponsor1">Yes</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="mr-2" id="sponsor2" formControlName="sponsor" [(ngModel)]="sponsor" value="No">
                                <label for="sponsor2">No</label>
                            </div>
                        </div>
                        <div *ngIf="sponsor == 'Yes'">
                            <ion-item>
                                <ion-label position="floating">Occupation</ion-label>
                                <ion-input type="text" formControlName="sponsor_detail"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.sponsor_detail.errors" class="invalid-feedback">
                                <div *ngIf="f.sponsor_detail.errors.required">Sponsor Details is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general_details">
                <div class="general_details_header">
                    <p>Number of Applicants</p>
                </div>

                <div>
                    <div class="general_details_body">
                        <ion-item>
                            <ion-label position="floating">Applicants</ion-label>
                            <ion-input type="number" formControlName="applicants"></ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.applicants.errors" class="invalid-feedback">
                            <div *ngIf="f.applicants.errors.required">Number of Applicants is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="next_btn" *ngIf="formUrl.length">
                <button type="submit" (click)="nextForm(visaForm.value)">Next<i class="fas fa-arrow-right"></i></button>
            </div>
        </form>
    </div>
</ion-content>.