.information-list {
    ul {
        position: relative;
        padding: 2px 30px !important;
    }

    li {
        list-style: none;
        font-size: 18px;
        font-weight: 500;

        line-height: 38px;
        position: relative;
        &:after {
            content: "";
            width: 1px;
            height: 100%;
            background: #000;
            position: absolute;
            left: -17px;
            top: 13px;
        }

        &:before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #000;
            position: absolute;
            left: -20px;
            top: 13px;
        }
    }

    :last-child {
        &:after {
            content: "";
            width: 0px !important;
            background: #000;
        }
    }
}
.general_details_header {
    display: flex;
    p {
        margin: auto 5px;
    }
    img {
        height: 40px;
    }
}
.total_cost {
    p {
        color: #000 !important;
        font-size: 18px !important;
        font-weight: 500;
        margin-top: 10px;
    }
}
