<ion-header>
  <app-header [cname]="' Travel Plan'"></app-header>
</ion-header>
<ion-content>
  <div class="all_content">
    <div class="general_details">
      <div class="general_details_header">
        <img src="assets/images/app.png">
        <p>Information Pack Inclusions Per Travel Plan</p>
      </div>
      <div class="general_details_body">
        <div class="information-list">
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/calendar1.png">
              <!-- <i class="fa fa-check " aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Outline (Tentative Travel Plan)</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/eiffel-tower.png">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Attractions (3-6)</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/list.png" style="height: 23px;
              margin-top: 8px;">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>List of Activities (1-2 Per Destination)</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/clouds.png" style="height: 45px;">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Weather Forecast for the Travel dates</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/england.png">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>History & Culture Information</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/save-money.png">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Currency Information</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/terrain.png">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Terrain Insights</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/shopping-bags.png">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Shopping Exclusives</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/business-and-finance.png" style="margin-top: 8px;">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Cost-Effective Ideas & Suggestions</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
              <img src="assets/images/scroll.png" style="margin-top: 8px;">
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Flight Quote (1
                Option only) for Extra option INR 80 per Option</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/passport.png" style="margin-top: 5px;">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Basic Visa Requirements and Quote</span>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2">
              <img src="assets/images/policy.png">
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </div>
            <div class="col-10 pl-1 list-info">
              <span>Travel Insurance Quote</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="general_details">
      <div class="general_details_header">
        <img src="assets/images/tile.png" style="height: 30px;margin: 0 7px;">
        <p>Number of Plans</p>
      </div>
      <div class="general_details_body">
        <ion-item>
          <ion-label position="floating">Plans</ion-label>
          <ion-input type="text" (ionChange)="numberOfPlan($event)" id="no-of-plans"></ion-input>
        </ion-item>
        <!-- <div *ngIf="submitted && f.number_of_plans.errors" class="invalid-feedback">
              <div *ngIf="f.number_of_plans.errors.required">Number of plans is Required</div>
          </div> -->
        <div class="total_cost w-100 d-inline-block">
          <p class="float-left">Cost</p>
          <p class="float-right">₹ {{amount ? amount : 0}}</p>
        </div>
      </div>
    </div>
    <div class="next_btn">
      <button type="submit" (click)="nextForm()">Next<i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
</ion-content>