
.general_details_header {
    display: flex;
    p {
        margin: auto 5px;
    }
    img {
        height: 40px;
        margin-top: 7px;
        margin-right: 5px;
    }
}
.total_cost {
    p {
        color: #000 !important;
        font-size: 18px !important;
        font-weight: 500;
        margin-top: 10px;
    }
}
.fa-check{
    background: white;
    padding: 9px;
    border-radius: 50%;
    font-size: 11px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1)!important;
    // color: #4c4c4c;
    color: #7f8dab;
    margin-right: 10px;
}
.information-list{
   span{
    color: #7f8dab;
   }
    .list-info{
        line-height: 30px;
    }
}
