<ion-header>
    <app-header [cname]="'Documents'"></app-header>
</ion-header>
<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class="all_content" *ngIf="documentList.length">
        <div class="card image_folder_detail" *ngFor="let document of documentList">
            <div class="image_detail"
                *ngIf="document.image_extension == 'png' || document.image_extension == 'jpg' || document.image_extension == 'jpeg'">
                <div class="image">
                    <img [src]="document.image_url || '../../assets/images/placeholder.png'">
                </div>
                <div class="detail">
                    <p *ngIf="document.admin_approved_image == 0" style="color: orange;">Pending</p>
                    <p *ngIf="document.admin_approved_image == 1" class="text-success">Approved</p>
                    <p *ngIf="document.admin_approved_image == 2" class="text-danger">Reject</p>
                    <p *ngIf="document.reason_to_reject">{{document.reason_to_reject}}</p>
                </div>
            </div>
            <div class="image_detail"
                *ngIf="document.image_extension != 'png' && document.image_extension != 'jpg' && document.image_extension != 'jpeg'">
                <ion-img src="../../assets/images/doc.png"></ion-img>
                <span>{{document.image_name}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="!documentList.length && !loading">
        <span class="text-white text-center no-request">No Uploaded Documents</span>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="../../assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>