$purple: #0575E6;
$blue: #021B79;
$green: #2FE57C;
$button_color: #003574;
// content css start here
.card {
    background: linear-gradient(#D500F9, #FFA000);
    border-radius: 7px;
    border: none;
    margin-bottom: 20px;
    .card_header {
        display: inline-block;
        border-bottom: 1px solid #fff;
        padding: 14px 0px;
        @media(max-height: 750px) {
            padding: 10px 0px;
        }
        ion-img {
            cursor: pointer;
            height: 20px;
            float: right;
        }
        p {
            text-align: center;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            line-height: 23px;
            margin-left: 10%;
        }
    }
    .card_body {
        padding: 14px 10px;
        @media(max-height: 750px) {
            padding: 11px 10px;
        }
        @media(max-height: 600px) {
            padding: 8px 10px;
        }
        .visa_number {
            color: #fff;
            font-size: 13px;
            font-weight: 600;
        }
        .valid_date {
            margin-bottom: 10px;
            small {
                font-size: 8px;
                color: #fff;
                margin-left: 9px;
                font-weight: 500;
            }
            p {
                font-size: 12px;
                color: #fff;
                font-weight: 500;
                line-height: 5px;
            }
        }
    }
}

.edit_icon {
    outline: none;
}

.card_detail {
    display: inline-block;
}

.passport_image {
    margin-top: 40px;
}

.passport_slide {
    z-index: 1111;
    width: 100%;
    ion-img {
        height: 120px;
      
    }
}

::ng-deep .slick-arrow {
    button {
        outline: none !important;
    }
}

::ng-deep .passport_slider .slick-arrow {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 75px;
    outline: none !important;
    z-index: 111;
    box-shadow: none !important;
}

::ng-deep .slick-arrow img {
    height: 100%;
    width: 100%;
}

::ng-deep .slick-arrow.nextarrow {
    right: 0;
}

::ng-deep .slick-arrow.prevarrow {
    left: 0;
}

::ng-deep .slick-list {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

::ng-deep .passport_slider .slick-dots li button:before {
    font-size: 0;
}

::ng-deep .passport_slider ul.slick-dots li {
    display: inline-block;
    margin: 0px 2.5px;
}

::ng-deep .passport_slider .slick-dots li.slick-active button {
    background-color: #fff;
    border: 1px solid #fff;
}

::ng-deep .passport_slider .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 3px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #707070;
}

::ng-deep .passport_slider .slick-slide slick-current slick-active {
    outline: none !important;
}

.img-loaded+ion-spinner {
    display: none;
}

// .center in my case to make the spinner at the center
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ion-refresher-content {
    background-color: #0575E6;
    --color: white !important;
}

.remove_image {
    height: 20px !important;
    cursor: pointer;
}
.img-loaded + ion-spinner {
    display:none;
  }
  ion-spinner{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .passport_slide{
    background:url('../../../assets/images/imgloader.gif') center center no-repeat;
    background-size: 50px 50px;
  }
  ion-input{
    --padding-bottom:0px !important
}
.selected_image{
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}