<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size='10'>
                <div class="home_text text-center">
                    <span>Welcome to Tripion</span>
                </div>
            </ion-col>
            <ion-col size='2'>
                <div class="icon_sec">
                    <ion-menu-button></ion-menu-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher> -->
    <div class=" all_content">
        <div class="wether w-100 ">
            <div class="wether_image float-left ">

                <ion-img src="assets/images/wether.png "></ion-img>

                <div class="temprature-select">
                    <!-- <select id="myselection1" class="form-control w-100 temp" [(ngModel)]="this.tempratureIndex" >
                        <option style="color: black;" [value]="i" *ngFor="let city of allCites;let i=  index">
                            {{city.city}}
                        </option>
                    </select> -->
                    <p class="temp-city" (click)="selectCity('temperature')">{{tempratureCity}}</p>
                    <span *ngIf="tempratureCity && !tempratureIndex"
                        style="position: absolute;">{{tempratureCity}}</span>
                </div>

                <span *ngIf="temperature " class="temprature-text">{{temperature}}°C
                </span>
            </div>
            <div class="city_name float-right time-select">
                <!-- <select id="myselection2" class="form-control w-100" [(ngModel)]="this.timeIndex">
                    <option style="color: black;" [value]="i" *ngFor="let city of allCites;let i=  index">
                        {{city.city}}
                    </option>
                </select> -->
                <p class="time-city"  (click)="selectCity('time')">{{timeCity}}</p>
                <p *ngIf="currentTime" class="time-txt">{{currentTime}}</p>
            </div>
        </div>
        <div class="home_details" *ngIf="allTrips.length ">
            <div *ngFor="let trip of allTrips">
                <div class="card text-white mb-2 " (click)="getPlanOption(trip) ">
                    <div class="card_content w-100 ">
                        <div class="country_details float-left">
                            <p [innerHtml]="trip.inquiry_name "></p>
                            <ul>
                                <li *ngFor="let inquiry of trip.list_of_inquiry">{{inquiry}}</li>
                            </ul>
                        </div>
                        <div class="booking_details float-right ">
                            <p>{{trip.status}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!loading && !allTrips.length ">
            <span class="text-center no-inquiry ">No Inquiry yet</span>
        </div>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper ">
            <div class="heartbeatloader ">
                <ion-img class="svgdraw " src="assets/images/loader.gif "></ion-img>
            </div>
        </div>
    </div>

    <div class="success_alert_box2" style="display: none;">
        <div class="alert_box_content">
            <div class="alert_box_text">
                <p>
                    Please Complete <br>
                    Your Profile
                </p>
                <div class="next_btn">
                    <button type="submit" (click)="completeProfile()">Ok</button>
                </div>
            </div>

        </div>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="footer_sec ">
            <div class="row ">
                <div class="col-4 ">
                    <div class="footer_img" routerLink='/home/frequent-flyer'>
                        <ion-img src="assets/images/8.png "></ion-img>
                        <p>Frequent Flyer
                        </p>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="footer_img" routerLink='/home/notification'>
                        <span class="num" *ngIf="notificationCount">{{notificationCount}}</span>
                        <ion-img src="assets/images/not_icon.png "></ion-img>
                        <p>Notifications</p>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="footer_img" routerLink='/home/briefcase'>
                        <ion-img src="assets/images/3.png "></ion-img>
                        <p>Briefcase</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>