<ion-menu side="start" menuId="first" contentId="content" class="menu">
    <div class="bg_home">
        <div class="main_background">
            <div class="top_part">
                <div class="row" routerLink="/home/profile" (click)="closeMenu()">
                    <div class="col-3 pl-4" *ngIf="currentUserData">
                        <div class="profile_img">
                            <img src="assets/images/user.png" *ngIf="!currentUserData.profile_pic" />
                            <img [src]="currentUserData.profile_pic" *ngIf="currentUserData.profile_pic"
                                onError="src = 'assets/images/placeholder.png'" />
                        </div>
                    </div>
                    <div class="col-9 pl-3">
                        <div class="profile_detail text-white">
                            <p *ngIf="currentUserData">{{currentUserData.first_name}} {{currentUserData.last_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu_content">
                <div *ngFor="let p of menuPages">
                    <div class="menu_list text-white" (click)="closeMenu()" [routerLink]="p.url">
                        <ion-img [src]="p.iconSrc" class="mr-3"></ion-img>
                        <span> {{ p.title }}</span>
                    </div>
                </div>
                <div class="menu_list text-white" (click)="logOut()">
                    <ion-img src="assets/images/10.png" class="mr-3"></ion-img>
                    <span> Log Out</span>
                </div>
            </div>
        </div>
    </div>
</ion-menu>
<ion-router-outlet main id="content"></ion-router-outlet>