<ion-header>
    <app-header [cname]="folderName"></app-header>
</ion-header>

<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">                                                                                                                                                                                                                                                                                                                                               </ion-refresher> -->
    <div class="all_content">
        <!-- <div *ngIf="folderList.length">
            <div class="card folder_detail" *ngFor="let folder of folderList;let i =index"
                routerLink='/home/inner-folder/{{folder}}'>
                <ion-img [src]="getRandomImgeIcon(i)"></ion-img>
                <p>{{folder}}</p>
            </div>
        </div> -->
        <div *ngIf="folderList.length" class="row folder-view m-0">
            <div class="col-4 folder_detail" *ngFor="let folder of folderList;let i =index"
               (press)="longPress(i)">
                <div class="card p-3">
                    <ion-img [src]="getRandomImgeIcon(i)"  routerLink='/home/inner-folder/{{folderName}}/{{folder}}'></ion-img>
                    <p [innerHtml]="folder"></p>
                </div>
                <i class="fa fa-times-circle folder-icon-{{i}}" (click)="removeFolder(folder,i)" ></i>
                <!-- <i class="fa fa-times-circle-o "></i> -->
            </div>
        </div>
        <div *ngIf="allImages.length">
            <app-folder-images [images]="allImages"></app-folder-images>
        </div>
        <div class="add_button" id="upload-pictures" (click)="openModal()">
            <a href="javascript:void(0);">
                <img src="assets/images/plus.png">
            </a>
        </div>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
    <div *ngIf="!loading && !allImages.length">
        <span class="text-white text-center no-request">Empty folder</span>
    </div>
    <!-- add pictures modal open here  -->
    <div class="modal_content_with_overlay" id="add-picturess" style="display: none;">
        <div class="modal_body">
            <div class="modal_header">
                <p class="text-center">Add Pictures</p>
            </div>
            <div class="modal_content">
                <div class="select_files">
                    <input type="file" class="form-control" #file (change)="selectFile($event)" style="display: none;"
                        multiple>
                    <label class="text-center" (click)="file.click()">
                        <i class="far fa-copy"></i>
                        Select from Files
                    </label>
                </div>
                <span class="text-danger" *ngIf="message">{{message}}</span>
                <div *ngIf="urls.length">
                    <div class="row">
                        <div class="col-4 selected_image" *ngFor="let img of urls">
                            <ion-img [src]="img.url" *ngIf="img.type == 'image'"></ion-img>
                            <ion-img src="assets/images/pdf.png" *ngIf="img.type == 'pdf'" ></ion-img>
                            <ion-img src="assets/images/xls.png" *ngIf="img.type == 'xlsx' || img.type == 'xls'"></ion-img>
                            <ion-img src="assets/images/doc1.png" *ngIf="img.type == 'doc' || img.type == 'docx' || img.type == 'odt'"></ion-img>
                            <ion-img *ngIf="img.type !='image' && img.type != 'pdf' && img.type != 'xlsx' && img.type != 'xls' && img.type != 'doc'&& img.type != 'docx'&& img.type != 'odt'" src="assets/images/docs2.png" ></ion-img>
                            <p *ngIf="img.type != 'image'">{{img.imageName}}</p>
                        </div>
                    </div>
                </div>
                <div class="make_folder">
                    <button type="submit" class="btn" (click)="uploadImage()" [disabled]="isDisable"><i
                            class="fas fa-plus"></i>Add Files</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal_content_with_overlay" id="add-pictures" style="display: none;">
        <div class="modal_body">
            <div class="create_folder">
                <div class="single_folder" id="upload-documents">
                    <a href="javascript:void(0);"><i class="fas fa-upload mr-2"></i>Add New Files</a>
                </div>
                <div class="single_folder" id="open-folderr">
                    <a href="javascript:void(0);"><i class="fas fa-plus mr-2"></i>New Folder</a>
                </div>

            </div>
        </div>
    </div>


    <!-- modal for  create new folder  -->
    <div class="modal_content_with_overlay" id="add-Pictures" style="display: none;">
        <div class="modal_body">
            <div class="modal_header">
                <p class="text-center">Folder Title</p>
            </div>
            <div class="modal_content">
                <form [formGroup]="createFolderForm">
                    <div>
                        <ion-item>
                            <ion-label position="floating">Title</ion-label>
                            <ion-input type="text" class="pt-2" formControlName="folder_name"></ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.folder_name.errors" class="invalid-feedback">
                            <div *ngIf="f.folder_name.errors.required">Folder Name is required</div>
                            <div *ngIf="f.folder_name.errors.pattern">Folder Name is not valid</div>
                        </div>
                    </div>
                    <div class="make_folder">
                        <button type="submit" class="btn" (click)="createFolder(createFolderForm.value)"
                            [disabled]="isDisable"><i class="fas fa-plus"></i>Add Folder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>