$purple: #0575e6;
$blue: #021b79;
$green: #2fe57c;
$button_color: #003574;
// content css start here
.image_folder_detail {
    i.fas.fa-folder {
        float: left;
        color: #003574;
        font-size: 42px;
    }
}

.no-request {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}

ion-refresher-content {
    background-color: #0575e6;
    --color: white !important;
}

.create_folder {
    position: fixed;
    bottom: 90px;
    right: 35px;
    border-radius: 5px;
    padding: 8px 0px;
    background-color: #ffffff;
    transition: 5s;
    @media (max-height: 600px) {
        padding: 5px 0px;
    }
    .single_folder {
        padding: 5px 6px;
        cursor: pointer;
        @media (max-height: 600px) {
            padding: 3px 5px;
        }
        @media (max-height: 600px) {
            padding: 1px 5px;
        }
        a {
            color: #707070;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
        }
    }
}
.folder_detail {
    width: 100%;
    padding: 5px;
    border-radius: 9px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    // @media(max-height: 812px) {
    //     padding: 14px;
    // }
    // @media(max-height: 750px) {
    //     padding: 12px;
    // }
    // @media(max-height: 600px) {
    //     padding: 8px;
    // }
    ion-img {
        height: 40px;
        // width: 42px;
        // float: left;
        // position: absolute;
        // left: 13px;
        // top: 0;
        // bottom: 0;
        // @media(max-height: 750px) {
        //     width: 38px;
        // }
        // @media(max-height: 600px) {
        //     width: 35px;
        // }
    }
    p {
        font-weight: 600;
        font-size: 19px;
        // margin-left: 60px;
        text-align: center;
        line-height: 30px;
        text-transform: capitalize;
        width: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.folder-view {
    margin-left: -5px !important;
    margin-right: -5px !important;
}
