<ion-header>
    <app-header [cname]="'Passport'"></app-header>
</ion-header>

<ion-content>
    <div class="all_content" *ngIf="passportDetail">
        <form [formGroup]='editPassPortForm'>
            <ion-card>
                <ion-card-content>
                    <div class="user_detail float-left">
                        <small>Name in Passport</small>
                        <div>
                            <ion-item>
                                <ion-input type="text" [(ngModel)]="passportDetail.name_in_passport"
                                    formControlName="name_in_passport"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.name_in_passport.errors" class="invalid-feedback">
                                <div *ngIf="f.name_in_passport.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-content>
                    <div class="user_detail float-left">
                        <small>Date of Expiry</small>
                        <div>
                            <ion-item>
                                <ion-datetime [(ngModel)]="passportDetail.doc_expiry_date"
                                    formControlName="doc_expiry_date" min="{{curruntDate}}" max="{{nextYear}}">
                                </ion-datetime>
                            </ion-item>
                            <div *ngIf="submitted && f.doc_expiry_date.errors" class="invalid-feedback">
                                <div *ngIf="f.doc_expiry_date.errors.required">Expiery Date is required</div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-content>
                    <div class="user_detail float-left">
                        <small>Passport Number</small>
                        <div>
                            <ion-item>
                                <ion-input type="text" [(ngModel)]="passportDetail.passport_number"
                                    formControlName="passport_number"></ion-input>
                            </ion-item>
                            <div *ngIf="submitted && f.passport_number.errors" class="invalid-feedback">
                                <div *ngIf="f.passport_number.errors.required">Paasport Number is required</div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>

            <div class="card" *ngIf="passportDetail.image_url.length">
                <div class="row">
                    <div class="col-4 mb-2" *ngFor="let img of passportDetail.image_url;let i=index">
                        <div class="all_image">
                            <div
                                *ngIf="img.image_extension == 'png' || img.image_extension == 'jpg' || img.image_extension == 'jpeg'">
                                <ion-img [src]="img.image_url || 'assets/images/placeholder.png'"
                                    (ionError)="onErrorImage(i)" class="visa_image"></ion-img>
                                <div (click)="removeImage(img,'image')" class="mt-2">
                                    <ion-img src="assets/images/remove.png" class="remove_image mb-2"></ion-img>
                                </div>
                            </div>
                            <div>
                                <!-- <ion-img src="assets/images/docs2.png" class="visa_image"></ion-img> -->
                                <ion-img src="assets/images/pdf.png" *ngIf="img.image_extension == 'pdf'"
                                    style="height: 99px;" class="visa_image"></ion-img>
                                <ion-img src="assets/images/xls.png"
                                    *ngIf="img.image_extension == 'xlsx' || img.image_extension == 'xls'"
                                    style="height: 99px;" class="visa_image"></ion-img>
                                <ion-img src="assets/images/doc1.png"
                                    *ngIf="img.image_extension == 'doc' || img.image_extension == 'docx' || img.image_extension == 'odt'"
                                    style="height: 99px;" class="visa_image"></ion-img>
                                <ion-img src="assets/images/docs2.png" style="height: 93px;" class="visa_image"
                                    *ngIf="img.image_extension != 'png' && img.image_extension != 'jpg'  && img.image_extension != 'jpeg' && img.image_extension != 'xlsx' && img.image_extension != 'xls' && img.image_extension != 'pdf'&& img.image_extension != 'doc'&& img.image_extension != 'docx'&&  img.image_extension != 'odt'">
                                </ion-img>
                                <a href="{{img.image_url}}" download
                                    *ngIf="img.image_extension != 'png' && img.image_extension != 'jpg'  && img.image_extension != 'jpeg'">
                                    <p>{{img.image_name}}</p>
                                </a>
                                <div (click)="removeImage(img,'file')" class="mt-2"  *ngIf="img.image_extension != 'png' && img.image_extension != 'jpg'  && img.image_extension != 'jpeg'">
                                    <ion-img src="assets/images/remove.png" class="remove_image mb-2"></ion-img>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="submit_btn">
                <button (click)="editPassportDetail(editPassPortForm.value)" class="btn" [disabled]="isDisable"><i
                        class="fas fa-save"></i>Save</button>
            </div>
            <div class="add_button" id="add-visa" (click)="moveDocumentPage()">
                <a href="javascript:void(0);">
                    <img src="assets/images/gallary.png">
                </a>
            </div>
        </form>
    </div>
    <div *ngIf="loading">
        <div id="loader-wrapper">
            <div class="heartbeatloader">
                <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
            </div>
        </div>
    </div>
</ion-content>